<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CDS AH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Se incluye las librerias necesarias para utilzar bootstrap -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleMenu.css">
    <!-- validar menu para opciones -->
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <!--  FONT ICONOS  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <section id="refresh">
        <!-- inicio del menu -->
        <div v-if="menuAcceso" class="sticky-top">
            <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id"></menu-log>
        </div>
        <div v-if="menuAcceso==false"  class="sticky-top">
            <menu-basico></menu-basico>
        </div>
        <!-- fin del menu  -->
        <!-- <header class="banner3 w-100 position-relative baners">
            <section class="fondo1 rounded">
                <blockquote class="blockquote  col-8 mx-auto position-absolute">
                    <cite class="text-white h2 cite" style="font-size: 70px;" id="cite-contacto">¿Cómo te podemos ayudar?</cite>
                </blockquote>
            </section>
        </header> -->

        <article class="mt-4">
            <!--  inicio de seccion de requisitos -->
            <h3 class="text-center text-uppercase text-primary h1s">Requisitos para ser parte de Nosotros</h3>
            <section class="col-12 row rounded justify-content-center mt-4 box-tod-requisitos">
                <div class="col-md-5 col-lg-4 p-5 m-4 rounded  box-shadow box-requisitos" style="border: 1px solid #024380">
                    <ul>
                        <li class="h5">Conocimientos básicos de computación.</li>
                        <li class="h5">Vivir en Ahuachapán o en algunos de los municipios aledaños.</li>
                        <li class="h5">Haber cursado mínimo 9° grado.</li>
                    </ul>
                </div>
                <div class="col-md-5 col-lg-4 p-5 m-4 rounded  box-shadow box-requisitos" style="border: 1px solid #024380">
                    <ul>
                        <li class="h5">Tener entre 16 y 29 años de edad cumplidos.</li>
                        <li class="h5">Tener disponibilidad de tiempo y deseos de superación.</li>
                        <li class="h5">Presentar DUI o carnet de minoridad y NIT.</li>
                    </ul>
                </div>
                <!--  fin de seccion de requisitos -->
            </section>

            <section class="">
                <h2 class="text-center col-12 text-primary mt-4 h1s">Nuestra Ubicación</h2>
                <article class="col-12 text-center mt-4 box-map mx-auto">
                    <!--  direccion de mapa de ubicacion -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3872.6165245844554!2d-89.84697954176869!3d13.92185480466998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6297ead7422433%3A0x51aee3a4185967c!2sFundaci%C3%B3n+JBorja!5e0!3m2!1ses-419!2ssv!4v1551714697259" height="500" class="g-map w-100" allowfullscreen></iframe>
                </article>
            </section>
        </article>
        <!-- inicio seccion de contactos -->
        <article class="mt-5 col-md-12 mx-auto">
            <section class="row mt-4 mx-auto">
                <div class="col-md-12">
                    <!-- Numero de Telefono -->
                    <h5 class="h1s text-center"><i class="fas fa-phone"></i> &nbsp; Teléfono: 7225-8468</h5>
                </div>
            </section>
            <section class="row mt-4 mx-auto">
                <div class="col-md-12">
                    <!-- Direccion de coerreo electronico -->
                    <h5 class="h1s text-center"><i class="fas fa-user-edit"></i> &nbsp; Escribenos a: info@proyectosfgk.org</h5>
                </div>
            </section>
        </article>
        <!-- fin seccion de contactos -->

        <!-- inicio Pie de la pagina-->
        <!-- <footer class="col-12 mt-5 piePagina p-4">
            <p class="text-center h6 text-light">COPYRIGHT © 2019 <a href="index.html" class="text-light">Centro de Desarrollo de Software</a> - TODOS LOS DERECHOS RESERVADOS.</p>
        </footer> -->
        <pie-pagina></pie-pagina>
        <!-- fin Pie de la pagina-->
    </section>
    <!-- <script src="js/menu.js"></script> -->
    <script src="js/refresh.js"></script>
    
</body>

</html>
