<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CDS AH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/Proyectos_CDS.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/popper.min.js"></script>
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--   estilos del sitio web-->
    <link rel="stylesheet" href="css/style.css">
    <!--    fuentes de google-->
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
    <!--  iconos  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script> -->
    <!-- validar menu para opciones -->
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
<!-- Hoja de estilos necesaria para utilizar en carousel -->
    <link rel="stylesheet" href="css/style-corousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>

    <!-- Se incluye hoja de estilos para el menu -->
    <link rel="stylesheet" href="css/styleMenu.css">

</head>

<body>
    <section id="refresh">
        <!-- inicio del menu -->
        <!-- se valida para mostrar el menu -->
        <div v-if="menuAcceso" class="sticky-top">
            <!-- Se mostrara este menu si esta logueado -->
            <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id" ></menu-log>
        </div>
        <div v-if="menuAcceso==false"  class="sticky-top">
            <!-- Se mostrara este menu si NO esta logueado -->
            <menu-basico></menu-basico>
        </div>
    </section>
        <!-- fin del menu -->
    <section id="app">
        <!-- Inicio del carousel -->
        <section class="col-md-12 row">
                
            <div class="swiper-container main-slider loading">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" :style='{backgroundImage: "url("+imagen0+")"}'>
                            <img :src="imagen0" class="entity-img" />
                        </figure>
                        <div class="content fondoSlider" @click="vermas(id0)">
                            <p class="title">{{titulo0}}</p>
                            <span class="caption"></span>
                            <!-- <span class="caption"> {{contenido0.substring(0,200) }} </span> -->
                        </div>
                    </div>
                    <div class="swiper-slide" >
                        <figure class="slide-bgimg" :style='{backgroundImage: "url("+imagen1+")"}'>
                            <img :src="imagen1" class="entity-img" />
                        </figure>
                        <div class="content fondoSlider" @click="vermas(id1)">
                            <p class="title">{{titulo1}}</p>
                            <span class="caption"></span>
                            <!-- <span class="caption"> {{contenido1.substring(0,200) }} </span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" :style='{backgroundImage: "url("+imagen2+")"}'>
                            <img :src="imagen2" class="entity-img" />
                        </figure>
                        <div class="content fondoSlider" @click="vermas(id2)">
                            <p class="title">{{titulo2 }}</p>
                            <span class="caption"></span>
                            <!-- <span class="caption">{{contenido2.substring(0,200) }}</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" :style='{backgroundImage: "url("+imagen3+")"}'>
                            <img :src="imagen3" class="entity-img" />
                        </figure>
                        <div class="content fondoSlider" @click="vermas(id3)">
                            <p class="title">{{titulo3 }}</p>
                            <span class="caption"></span>
                            <!-- <span class="caption">{{contenido3.substring(0,200) }}</span> -->
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <figure class="slide-bgimg" :style='{backgroundImage: "url("+imagen4+")"}'>
                            <img :src="imagen4" class="entity-img" />
                        </figure>
                        <div class="content fondoSlider" @click="vermas(id4)">
                            <p class="title">{{titulo4}}</p>
                            <span class="caption"></span>
                            <!-- <span class="caption">{{contenido4.substring(0,200) }}</span> -->
                        </div>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev swiper-button-white"></div>
                <div class="swiper-button-next swiper-button-white"></div>
            </div>

            <!-- Thumbnail navigation -->
            <div class="swiper-container nav-slider loading">
                <div class="swiper-wrapper" role="navigation">
                    <div class="swiper-slide slider-min">
                        <figure class="slide-bgimg" :style="{backgroundImage: 'url('+imagen0+')'}">
                            <img :src="imagen0" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">{{titulo0.substring(0,25)}}</p>
                        </div>
                    </div>
                    <div class="swiper-slide slider-min">
                        <figure class="slide-bgimg" :style="{backgroundImage: 'url('+imagen1+')'}">
                            <img :src="imagen1" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">{{titulo1.substring(0,25)}}</p>
                        </div>
                    </div>
                    <div class="swiper-slide slider-min">
                        <figure class="slide-bgimg" :style="{backgroundImage: 'url('+imagen2+')'}">
                            <img :src="imagen2" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">{{titulo2.substring(0,25)}}</p>
                        </div>
                    </div>
                    <div class="swiper-slide slider-min">
                        <figure class="slide-bgimg" :style="{backgroundImage: 'url('+imagen3+')'}">
                            <img :src="imagen3" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">{{titulo3.substring(0,25)}}</p>
                        </div>
                    </div>
                    <div class="swiper-slide slider-min">
                        <figure class="slide-bgimg" :style="{backgroundImage: 'url('+imagen4+')'}">
                            <img :src="imagen4" class="entity-img" />
                        </figure>
                        <div class="content">
                            <p class="title">{{titulo4.substring(0,25)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Fin del carousel -->


        <article class="container pt-4">
            <h1 class="text-center text-uppercase h1s p-4">Eventos
                <hr class="hrs w-50 col-md-2" >
            </h1>
            <!-- inicio de Seccion de eventos de pagina de inicio -->
            <section class="row text-center">

                <article class="col-md-4 mt-5 " v-for="evento in eventos">
                    <div class="card w-100 contenedorImgP box-shadow">
                        <div class="contenedorImg2">
                            <img :src="evento.img" class="card-img-top" alt="">
                        </div>
                        <div class="card-body borderbotm">
                            <h3>Fecha: {{ evento.fecha}}</h3>
                            <h5 class="card-title">{{evento.titulo}}</h5>
                            <p class="card-text text-justify" >{{ evento.cuerpo.substring(0,200) }}...</p>
                            <button  class="btn btn-primary botns" @click="verModal(evento)">Leer más &nbsp;<i class="fas fa-arrow-right flecha-i"></i></button>
                        </div>
                    </div>
                </article>

              

            </section>
            <!-- fin de Seccion de eventos de pagina de inicio -->

            <!-- <section class="col-12 mt-4 p-4">
                <h2 class="text-center text-uppercase text-primary h1s">Instituciones que nos apoyan:
                    <hr class="hrs w-50 col-md-4 col-sm-10" >
                </h2>
            </section>

            <section class="col-6 col-md-8 row mx-auto col-sm-10 mt-4">
                <article class="col-sm-4 d-flex align-items-center mt-4">
                    <a href="https://fundacionjborja.org/" data-toggle="tooltip" title="Ver página JBORJA">
                        <figure >
                            <img src="img/logo-fundacion-borja.png" alt="" class="w-100 log-b" >
                            <caption >
                                <p class="text-center">Ir al sitio</p>
                            </caption>
                        </figure>
                    </a>
                    
                    
                </article>
                <article class="col-sm-4 text-center mt-4">
                    <a href="https://www.fundaciongloriakriete.org/" data-toggle="tooltip" title="Ver página Fundacion Gloria de Kriete">
                        <figure>
                            <img src="img/logo_gloriakriete.png" alt="" class="w-50" >
                            <caption >
                                <p class="text-center">Ir al sitio</p>
                            </caption>
                        </figure>
                    </a>
                </article>
                <article class="col-sm-4 d-flex align-items-center mt-4">
                    <a href="https://www.usaid.gov/" data-toggle="tooltip" title="Ver página USAID">
                        <figure>
                            <img src="img/Logo_usaid.jpg" alt="" class="w-100 log-b" >
                            <caption >
                                <p class="text-center">Ir al sitio</p>
                            </caption>
                        </figure>
                    </a>
                </article>
            </section>
        </article> -->

        <!-- pie de pagina -->
        <pie-pagina></pie-pagina>


        
  <!--inicio  Modal eventos-->
  <div class="modal fade " id="modalEventos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" >{{modalEvento.titulo}}</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body" id="bodyEventos">
            <div class="col-12 text-center">
                <img :src="modalEvento.img" alt="" class="w-75 rounded">
            </div>
            <h5 class="mt-4 text-center">Fecha del evento: {{ modalEvento.fecha }}</h5>
            <p class="text-justify mt-3 " v-for="cuerpo in modalEvento.cuerpo">{{ cuerpo }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
    </section>
    <script src="js/menu.js"></script>
    <script src="js/refresh.js"></script>
    <script src="js/script-carousel.js"></script>
    
</body>

</html>
