<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap v4.0.0 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Sketch (Plugin) -->
    <script src="js/sketch.min.js"></script>
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- StyleSheet -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/login.css">
    <!--ESTILOS DE LA PAGINA ORIGINAL-->
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" href="css/styleMenu.css">
    <!-- script para conectarse a servidor -->
    <script src="js/vue.js"></script>
    <script src="js/axios.min.js"></script>
    <link rel="stylesheet" href="../SitioWeb/css/styleMenu.css">

</head>

<body>
    <section id="login">
    <!-- inicio del menu -->

        <menu-basico></menu-basico>
    <!----FIN BARRA DE NAVEGACION---->

    <div class="container mt-5">
        <div class="row" >

            <div class="img-container col-lg-6">
                <!-- Imagen como insignea en el fondo, del elemento de caja para el login -->
                <!-- <img class="etiqueta" src="img/logo_desk.png"> -->
            </div>


            <div v-if="loading">
                <img src="img/cargando-gif-sin-fondo-7.gif" alt="" width="100">
            </div>


            <div class="form-container col-lg-6">
                <div class="text-container">
                    <h2 class="text-center" id="mensaje" style="color: #024380">Iniciar Sesion</h2>
                </div>
                <form action="" style="background:rgba(172, 167, 167, 0);" class="text-center">

                    <div class="input-cont">
                        <i class="fa fa-user icon-see-user" aria-hidden="true"></i>
                        <!-- Input -->
                        <input id="user" type="email" class="input" placeholder="Usuario" v-model="user">
                        <!--<small id="emailHelp" class="form-text text-muted"><em>nombreUsuario@correo.com</em></small>-->
                    </div>

                    <div class="input-cont">
                        <i class="fa fa-lock icon-see-lock" aria-hidden="true"></i>
                        <!-- input -->
                        <input id="pass" type="password" class="input pass" placeholder="Contraseña" v-model="pass">

                        <i id="mostrar" class="fa fa-eye icon-see-pass" aria-hidden="true" onclick="mostrarPass()" data-toggle="tooltip" data-placement="top" title="Mostrar contraseña"></i>
                        <i id="ocultar" class="fa fa-eye-slash icon-dont-see-pass" aria-hidden="true" onclick="ocultarPass()" data-toggle="tooltip" data-placement="left" title="Ocultar contraseña"></i>

                    </div>
                    <!--<div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label text-muted">
                            <small>
                                <em>Recordar contraseña</em>
                            </small>
                        </label>
                    </div>-->
                    <div class="mt-4 btn-container text-center">
                        <a id="log-in" class="btn" v-on:click="login">
                            Iniciar Sesión <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <footer class="col-12 mt-5 piePagina p-4">
        <p class="text-center h6 text-light">COPYRIGHT © 2019 <a href="index.html" class="text-light">Centro de Desarrollo de Software</a> - TODOS LOS DERECHOS RESERVADOS.</p>
    </footer> 
</section>

<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        
        <img src="img/cargando-gif-sin-fondo-7.gif" alt="" width="100">
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/cntrs.js"></script>
    
    <!--script para validar sesion-->
    <script src="js/login.js"></script>
    

</body>

</html>
