<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CDS AH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" />
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styleMenu.css">
    <!-- validar menu para opciones -->
    <script src="js/vue.js"></script>
    
<!--  libreria axios  -->
    <script src="js/axios.min.js"></script>
    
    <!--  FONT ICONOS  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <section id="refresh">
        <!-- Inicio del menu  -->
        <div v-if="menuAcceso" class="sticky-top">
            <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id"></menu-log>
        </div>
        <div v-if="menuAcceso==false"  class="sticky-top">
            <menu-basico></menu-basico>
        </div>

        <!-- fim del menu -->
        <!-- inicio del banner -->
        <!-- <header class="banner2 w-100 position-relative baners">
            <section class="fondo1 rounded">
                <blockquote class="blockquote col-8 mx-auto position-absolute">
                    <cite class="text-white h2 cite" style="font-size:40px">"La única manera de hacer un gran trabajo, es amar lo que haces. Si no lo has encontrado, sigue buscando. No te conformes." </cite>
                    <footer class="text-white blockquote-footer">Steve Jobs</footer>
                </blockquote>
            </section>
        </header> -->
        <!-- fin del banner -->
        
        <div class="mt-5">
            <h1 class="text-center h1s">¿Quiénes Somos?</h1>
        </div>

        <!-- inicio de cuerpo de la pagina-->
        <section class="col-md-12 box-quienes">
            <!-- inicio de Mision-->
            <article class="row contenedorImgP mt-5 p-3 box-shadow box-mivi" style="border: 1px solid #024380">
                <section class="col-md-5 rounded"> 
                    <div class="contenedorImg2">
                        <img src="img/mision.jpg" alt="" class="w-100">
                    </div>
                </section>
                <section class="col-md-7">
                    <h3 class="text-center text-uppercase h1s">Visión</h3>
                    <p class="text-justify franja pl-2">Lograr que jóvenes salvadoreños de bajos recursos económicos, excelencia 
                        académica y deseo de superación accedan a una educación superior integral incrementando su competitividad 
                        en el mercado laboral.
                    </p>
                </section>
            </article>
            <!-- fin de Mision-->
            <!-- inicio de Vision-->
            <article class="row contenedorImgP mt-5 p-3 box-shadow box-mivi" style="border: 1px solid #024380">
                <section class="col-md-5">
                    <div class="contenedorImg2">
                        <img src="img/vision.jpg" alt="" class="w-100 rounded">
                    </div>
                    
                </section>
                <section class="col-md-7">
                    <h3 class="text-center text-uppercase h1s">Misión</h3>
                    <p class="text-justify franja pl-2">Ofrecer a jóvenes con características de excelencia la oportunidad de obtener una 
                        educación integral a lo largo del bachillerato y estudios superiores a través una nivelación académica, el fortalecimiento 
                        de habilidades y destrezas, acompañamiento personalizado, el financiamiento de sus carreras universitarias o técnicas y 
                        un apoyo en la inserción laboral para incrementar su empleabilidad dentro del mercado laboral.
                    </p>
                </section>
            </article>
            <!-- fin de vision-->
            <!-- inicio de Valores-->
            <article class="mt-4 row box-shadow box-mivi" style="border: 1px solid #024380">
                <h2 class="text-center col-12 text-uppercase text-primary h1s">Nuestros Valores</h2>
                <div class="row mt-4 col-12 ">
                        <!-- inicio lista de Valores internos-->
                    <section class="col-md-6 ">
                        <!-- <h3 class="text-center text-primary h1s"><i class="fas fa-address-book"></i> &nbsp; Valores Internos</h3> -->
                        <dl>
                            <ul class="franja">
                                <li>
                                    <dt>Respeto:</dt>
                                    <dd class="text-justify">Reconocer, aceptar, apreciar y valorar las cualidades y la dignidad de todas las personas por muy diferentes que sean de las propias, reconociendo a su 
                                        vez los derechos individuales y colectivos.
                                    </dd>
                                </li>
                                <li>
                                    <dt>Solidaridad:</dt>
                                    <dd class="text-justify">Contribuir activamente al servicio de la comunidad, con un compromiso responsable ante las necesidades de las
                                        demás personas.
                                    </dd>
                                </li>
                                <li>
                                    <dt>Compromiso:</dt>
                                    <dd class="text-justify">Una persona comprometida con un proyecto trabaja por encima de lo que se espera para los objetivos y cumplir con 
                                        las obligaciones que se han propuesto o que le han sido encomendadas.
                                    </dd>
                                </li>
                            </ul>
                        </dl>
                    </section>
                    <!-- fin de valores internos -->
                        <!-- inicio lista de Valores esternos-->
                    <section class="col-md-6 ">
                        <!-- <h3 class="text-center text-primary h1s"><i class="fas fa-address-book"></i> &nbsp; Valores Externos</h3> -->
                        <ul class="franja">
                            <dl>
                                <li>
                                    <dt>Condena de la violencia y defensa de la paz:</dt>
                                    <dd class="text-justify">Rechazar toda forma de agresi&oacute;n y maltrato en la interrelación con las personas y en la sociedad, 
                                        promoviendo comportamientos y prácticas culturales transformadoras que resuelvan los conflictos sin violencia.
                                    </dd>
                                </li>
                                <li>
                                    <dt>Rechazo a la discriminación:</dt>
                                    <dd class="text-justify">Defender las mismas condiciones y oportunidades para todas las personas sin distinción.</dd>
                                </li>
                                <li>
                                    <dt>Responsabilidad:</dt>
                                    <dd class="text-justify">Responder por las propias motivaciones, actitudes y acciones, asi como tratar a las demás personas como 
                                        queremos que nos traten.
                                    </dd>
                                </li>
                            </dl>
                        </ul>
                    </section>
                    <!-- fin de valores externos -->
                </div>
                
            </article>
            <!-- fin de valores -->
        </section>
        <!-- fin de cuerpo de la pagina-->
    
        <!--  Pie de la pagina-->
        <!-- <footer class="col-12 piePagina p-4">
            <p class="text-center h6 text-light">COPYRIGHT © 2019 <a href="index.html" class="text-light">Centro de Desarrollo de Software</a>  - TODOS LOS DERECHOS RESERVADOS.</p>
        </footer> -->
        <pie-pagina></pie-pagina>
    </section>
    <!-- <script src="js/menu.js"></script> -->
    <script src="js/refresh.js"></script>
   
</body>
</html>