@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Roboto|Roboto+Condensed");
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem; }
  img.imagen {
    width: 75% !important; }
  .imgd {
    display: inline-block; }
    .imgd .btnDeleteIMG {
      cursor: pointer; }
      .imgd .btnDeleteIMG i {
        color: #000000;
        font-size: 20px; } }

.imgd {
  display: inline; }
  .imgd .btnDeleteIMG {
    cursor: pointer; }
    .imgd .btnDeleteIMG i {
      color: #000000;
      font-size: 20px; }

/*Modal de Modificacion*/
#AGGPublic .modal-dialog .modal-header, #MODIPublic .modal-dialog .modal-header {
  padding: 0;
  /*Caja De Formulario*/ }
  #AGGPublic .modal-dialog .modal-header .containerForm, #MODIPublic .modal-dialog .modal-header .containerForm {
    width: 100%;
    background-color: #e4e4e4;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    transition: -webkit-transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    -o-transition: transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    transition: transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1);
    transition: transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1), -webkit-transform 800ms cubic-bezier(0.45, -0.46, 0.31, 1); }
    #AGGPublic .modal-dialog .modal-header .containerForm.applied, #MODIPublic .modal-dialog .modal-header .containerForm.applied {
      -webkit-transform: translate(0, -200%);
      -ms-transform: translate(0, -200%);
      transform: translate(0, -200%); }
    #AGGPublic .modal-dialog .modal-header .containerForm .btnCloseModel, #MODIPublic .modal-dialog .modal-header .containerForm .btnCloseModel {
      color: #000000;
      position: absolute;
      cursor: pointer;
      top: 10px;
      right: 15px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      transition-delay: 0.3s; }
      #AGGPublic .modal-dialog .modal-header .containerForm .btnCloseModel i, #MODIPublic .modal-dialog .modal-header .containerForm .btnCloseModel i {
        font-size: 1.5em; }
    #AGGPublic .modal-dialog .modal-header .containerForm .headerForm, #MODIPublic .modal-dialog .modal-header .containerForm .headerForm {
      padding: 1rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: white;
      text-align: center; }
      #AGGPublic .modal-dialog .modal-header .containerForm .headerForm h1, #MODIPublic .modal-dialog .modal-header .containerForm .headerForm h1 {
        color: #024380;
        font-size: 28px;
        font-weight: bolder; }
      #AGGPublic .modal-dialog .modal-header .containerForm .headerForm p, #MODIPublic .modal-dialog .modal-header .containerForm .headerForm p {
        color: #555555; }
    #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer {
      position: relative;
      padding: 2rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center; }
      #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1rem 0;
        text-align: left; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas:first-child, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas:first-child {
          padding-top: 0; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group {
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:first-child, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:first-child {
            padding-right: 1rem; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:last-child, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group:last-child {
            padding-left: 1rem; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label {
            width: 100%;
            margin-bottom: 0.5rem;
            display: inline-block;
            position: relative;
            color: #353232;
            font-weight: bold;
            font-size: 14px; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label span, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group label span {
              color: #2c3e50; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea {
            border: none;
            background: none;
            background-color: white;
            width: 100%;
            height: auto;
            border-radius: 3px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0.8rem 1rem;
            color: #035db2;
            font-weight: bolder;
            font-size: 16px;
            border: 2px white solid;
            -webkit-transition: border 200ms linear;
            -o-transition: border 200ms linear;
            transition: border 200ms linear; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.error, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.error, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.error, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.error {
              border: 2px #e74c3c solid; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.success, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.success, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input.success, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea.success {
              border: 2px #228b22 solid; }
            #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input:focus, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea:focus, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group input:focus, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .filas .form-group textarea:focus {
              outline: none; }
      #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI {
        padding: 1rem 1.5rem;
        background: none;
        border: none;
        border-radius: 30px;
        background-color: #024380;
        color: white;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin: 1rem auto .5rem auto;
        display: inline-block;
        cursor: pointer;
        -webkit-transition: all 400ms linear;
        -o-transition: all 400ms linear;
        transition: all 400ms linear; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI:hover {
          background-color: #01294e; }
        #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled {
          cursor: not-allowed;
          background-color: #1f91fc; }
          #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled:hover, #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnAGG.disabled:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose.disabled:hover, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnMODI.disabled:hover {
            background-color: #1f91fc; }
      #AGGPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose, #MODIPublic .modal-dialog .modal-header .containerForm .formularioContainer .btnClose {
        background: #7c7b7b; }

::-moz-selection {
  background: #024380;
  color: white;
  text-shadow: none; }

::selection {
  background: #024380;
  color: white;
  text-shadow: none; }

::-webkit-selection {
  background: #024380;
  color: white;
  text-shadow: none; }

.box-btnNewPublic .button-two {
  display: inline-block !important;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  border-radius: 4px;
  background-color: #024380;
  border: none;
  padding: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff; }
  .box-btnNewPublic .button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .box-btnNewPublic .button-two span:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }

.box-btnNewPublic .button-two:hover span {
  padding-right: 25px; }
  .box-btnNewPublic .button-two:hover span:after {
    opacity: 1;
    right: 0; }

.SearchPublic {
  display: inline-block !important; }
  .SearchPublic .field-container {
    float: right !important;
    position: relative;
    padding: 0;
    margin: auto auto;
    border: 0;
    width: 330px;
    height: 45px; }
    .SearchPublic .field-container .field {
      border: 0;
      width: 400px;
      height: 100%;
      padding: 10px 20px;
      background: white;
      border-radius: 3px;
      -webkit-box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
      box-shadow: 0px 8px 15px rgba(75, 72, 72, 0.1);
      -webkit-box-shadow: 0px 12px 15px rgba(75, 72, 72, 0.1);
      box-shadow: 0px 12px 15px rgba(75, 72, 72, 0.1);
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .SearchPublic .field-container .field:focus {
        outline: none;
        -webkit-box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3);
        box-shadow: 0px 9px 20px rgba(75, 72, 72, 0.3); }
        .SearchPublic .field-container .field:focus + .icons-container .icon-close {
          opacity: 1;
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0); }
        .SearchPublic .field-container .field:focus + .icons-container .icon-search {
          opacity: 0;
          -webkit-transform: translateX(200%);
          -ms-transform: translateX(200%);
          transform: translateX(200%); }
    .SearchPublic .field-container .icons-container {
      position: absolute;
      top: 11px;
      right: -25px;
      width: 35px;
      height: 35px;
      overflow: hidden; }
      .SearchPublic .field-container .icons-container .icon-search {
        position: relative;
        top: 5px;
        left: 8px;
        width: 50%;
        height: 50%;
        opacity: 1;
        border-radius: 50%;
        border: 3px solid #a6bdd3;
        -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        -o-transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1); }
        .SearchPublic .field-container .icons-container .icon-search:after {
          content: "";
          position: absolute;
          bottom: -9px;
          right: -2px;
          width: 4px;
          border-radius: 3px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          height: 10px;
          background-color: #a6bdd3; }
      .SearchPublic .field-container .icons-container .icon-close {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 75%;
        height: 75%;
        opacity: 0;
        cursor: pointer;
        -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        transform: translateX(-200%);
        border-radius: 50%;
        -webkit-transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.25s ease, -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        -o-transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1); }
        .SearchPublic .field-container .icons-container .icon-close:before {
          content: "";
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          border: 2px solid transparent;
          border-top-color: #024380;
          border-left-color: #024380;
          border-bottom-color: #024380;
          -webkit-transition: opacity 0.2s ease;
          -o-transition: opacity 0.2s ease;
          transition: opacity 0.2s ease; }
        .SearchPublic .field-container .icons-container .icon-close .x-up {
          position: relative;
          width: 100%;
          height: 50%; }
          .SearchPublic .field-container .icons-container .icon-close .x-up:before {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 3px;
            width: 50%;
            height: 2px;
            background-color: #024380;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
          .SearchPublic .field-container .icons-container .icon-close .x-up:after {
            content: "";
            position: absolute;
            bottom: 2px;
            right: 0px;
            width: 50%;
            height: 2px;
            background-color: #024380;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
        .SearchPublic .field-container .icons-container .icon-close .x-down {
          position: relative;
          width: 100%;
          height: 50%; }
          .SearchPublic .field-container .icons-container .icon-close .x-down:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 4px;
            width: 50%;
            height: 2px;
            background-color: #024380;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
          .SearchPublic .field-container .icons-container .icon-close .x-down:after {
            content: "";
            position: absolute;
            top: 5px;
            right: 1px;
            width: 50%;
            height: 2px;
            background-color: #024380;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
        .is-type .SearchPublic .field-container .icons-container .icon-close:before {
          opacity: 1;
          -webkit-animation: spin 0.85s infinite;
          animation: spin 0.85s infinite; }
        .is-type .SearchPublic .field-container .icons-container .icon-close .x-up:before, .is-type .SearchPublic .field-container .icons-container .icon-close .x-up:after {
          -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite; }
        .is-type .SearchPublic .field-container .icons-container .icon-close .x-up:after {
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
        .is-type .SearchPublic .field-container .icons-container .icon-close .x-down:before, .is-type .SearchPublic .field-container .icons-container .icon-close .x-down:after {
          -webkit-animation: color-1 0.85s infinite;
          animation: color-1 0.85s infinite; }
        .is-type .SearchPublic .field-container .icons-container .icon-close .x-down:before {
          -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
        .is-type .SearchPublic .field-container .icons-container .icon-close .x-down:after {
          -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

/*estilo de la vista de la tabla de administrador de las publicaciones */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

table tr {
  background-color: #fff;
  border: 1px solid #e1e5e9;
  border-radius: 5px; }

#Table_Public .tableID {
  width: 10%; }

#Table_Public .tableAutor {
  width: 10%; }

table thead tr:first-child {
  border: 1px solid #024380; }

table th {
  padding: 1.625em 0;
  text-align: center;
  color: #494949; }

table th {
  text-transform: uppercase;
  background: #024380;
  color: #FFF; }

table tbody tr td.editar, td.imgTable {
  vertical-align: middle; }

table tbody tr td .btn-invoice {
  background: #024380;
  color: #FFF;
  border-radius: 5px;
  z-index: 0; }

tbody tr:nth-child(even) {
  background-color: #fff; }

tbody tr:nth-child(odd) {
  background-color: #fff; }

@media screen and (max-width: 600px) {
  .SearchPublic {
    margin-left: -15px; }
    .SearchPublic .field-container {
      margin-left: -15px;
      width: 90% !important; }
      .SearchPublic .field-container .field {
        margin-left: -65px;
        max-width: 280px !important; }
  table {
    border: 0;
    margin-right: 5px;
    margin-left: 5px; }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    padding: 0; }
  table tr {
    display: block;
    margin-bottom: .625em;
    border: #afb0b1 solid 1px; }
  #Table_Public .tableID {
    width: 100%; }
  #Table_Public .tableAutor {
    width: 100%; }
  table #tr-tbody {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shadow: 0 13px 6px -6px  #777;
    box-shadow: 0 13px 6px -6px  #777;
    margin-bottom: 1.5em; }
  table td {
    border-bottom: 1px solid #cfd1d3;
    display: block;
    text-align: right;
    color: #9da9b9;
    color: #024380; }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222; }
  table td:last-child {
    border-bottom: 0; } }

body, html {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 60px 0 30px 0;
  color: black; }
