<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calendario de Eventos</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css">

    <script src="../SitioWeb/js/jQuery.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--fuentes de iconos-->
    <script src="../SitioWeb/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/plugins.css">

    <!-- <link rel="stylesheet" href="css/style.1.css"> -->

    <link rel="stylesheet" href="pe-icon-7-stroke/css/pe-icon-7-stroke.css">

    <link rel="stylesheet" href="css/style.1.css">

    <!-- <script src="js/modernizr-2.8.3.min.js"></script> -->



    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="../SitioWeb/css/styleMenu.css">
</head>

<body>
    <!-- barra de navegacion -->
    <!-- barra de navegacion -->
 <header class="header-area header-in-container clearfix" id="refresh">
    <!-- inicio del menu -->
        <!-- se valida para mostrar el menu -->
        <div v-if="menuAcceso" class="sticky-top">
            <!-- Se mostrara este menu si esta logueado -->
            <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id" ></menu-log>
        </div>
        <div v-if="menuAcceso==false"  class="sticky-top">
            <!-- Se mostrara este menu si NO esta logueado -->
            <menu-basico></menu-basico>
        </div>
</header>

    <div id="app">
        <b-container fluid>
            <div class="b-calendar clearfix">
                <b-row>
                    <b-col lg="4">
                        <div class="b-calendar__information">


                            <div class="selected-date">
                                <div>
                                    <span class="weekday">{{selectedWeekDay | capitalize}}</span>
                                </div>
                                <span class="day">{{selectedDayAndMonth.day}}</span>
                                <span class="month">{{selectedDayAndMonth.month | capitalize}}</span>
                            </div>


                            <div class="b-event-container" v-if="windowWidth > 480">
                                <!-- <h4>Eventos:</h4> -->
                                <!-- <create-event-form v-on:create="createEvent" v-on:update="newEventForm.eventTitle = $event"></create-event-form> -->
                                <!-- <b-button-group size="sm"> -->
                                <!-- <b-button variant="outline-light" :class="{'active': visibility === 'all'}" @click="changeVisibility('all')">Nuevo
                                    </b-button> -->
                                <!-- <b-button variant="outline-light" :class="{'active': visibility === 'completed'}"
                                        @click="changeVisibility('completed')">Actualizar
                                    </b-button> -->
                                <!-- <b-button variant="outline-light" :class="{'active': visibility === 'active'}"
                                        @click="changeVisibility('active')">Eliminar
                                    </b-button> -->
                                <!-- </b-button-group> -->

                                <!-- <img src=" https://fundacionjborja.org/wp-content/themes/theme_fundacion/images/logo-fundacion-borja-kriete.png" alt="" id="borja"> -->
                                <h1 class="text-center text-uppercase" id="titulo">Calendario de Eventos de CDSAH</h1>
                                <transition-group name="event-list" tag="ul" class="event-list" v-if="filteredEventListForSelectedDate.length > 0">
                                    <!-- <li class="event" :class="{'completed': event.completed}" v-for="event in filteredEventListForSelectedDate"
                                        :key="event.id">
                                        <span class="title">{{event.title}}</span>
                                        <div class="buttons"> -->
                                    <!-- <b-button class="completed-event-btn" :class="{'completed': event.completed}"
                                                @click="changeCompletedEvent(event)">
                                                <i class="fa" :class="event.completed ? 'fa-check-square' : 'fa-square-o'"
                                                    aria-hidden="true"></i>
                                            </b-button> -->
                                    <!-- <b-button class="delete-event-btn" @click="deleteEvent(event)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </b-button> -->
                                    <!-- </div>
                                    </li> -->
                                </transition-group>
                                <!-- <div class="no-events text-center" v-else>
                                    La lista de eventos está vacía.
                                </div> -->
                            </div>
                            <b-link href="#" class="go-today-link" @click="goToday" v-show="!todayInCurrentMonthAndYear || !todayIsEqualSelectDate">
                                Go today
                            </b-link>
                        </div>
                    </b-col>
                    <b-col lg="8">
                        <div class="b-calendar__calendar">
                            <div class="b-calendar__header">
                                <b-row>
                                    <b-col class="year text-right" align-h="end">
                                        <span>{{year}}</span>
                                    </b-col>
                                </b-row>
                                <b-row align-v="center">
                                    <b-col class="text-left" align-h="start">
                                        <b-button id="goTodayBtn" class="go-today-btn" variant="outline-dark" @click="goToday" v-show="!todayInCurrentMonthAndYear || !todayIsEqualSelectDate">
                                            Ir fecha actual
                                        </b-button>
                                        <b-tooltip target="goTodayBtn" v-show="!todayInCurrentMonthAndYear || !todayIsEqualSelectDate">
                                            Volver a fecha actual
                                        </b-tooltip>
                                    </b-col>
                                    <b-col class="text-center" align-h="center">

                                    </b-col>
                                    <b-col class="month-change-container text-right d-flex flex-row-reverse align-items-center" align-h="end">
                                        <b-button id="addMonthBtn" class="arrow arrow-right" variant="light" @click="addMonth">
                                            <i class="fa fa-fw fa-chevron-right"></i>
                                        </b-button>
                                        <b-tooltip target="addMonthBtn">
                                            {{nextMonthAsString | capitalize}}
                                        </b-tooltip>
                                        <div class="month text-center">{{month}}</div>
                                        <b-button id="subtractMonthBtn" class="arrow arrow-left" variant="light" @click="subtractMonth">
                                            <i class="fa fa-fw fa-chevron-left"></i>
                                        </b-button>
                                        <b-tooltip target="subtractMonthBtn">
                                            {{previousMonthAsString | capitalize}}
                                        </b-tooltip>
                                    </b-col>
                                </b-row>
                            </div>
                            <div class="b-calendar__weekdays">
                                <div class="weekday" v-for="(day, index) in days" :key="index">
                                    <strong>{{day}}</strong>
                                </div>
                            </div>
                            <div class="b-calendar__dates">
                                <div class="date text-right" :class="{
                                    'selected': dateIsEqualSelectDate(date),
                                    'today': date.today,
                                    'blank': date.blank,
                                    'no-border-right': date.key % 7 === 0
                                }" v-for="date in dateList" :key="date.key" :data-date="date.date">
                                    <a class="link" @click="setSelectedDate(date.moment)"></a>
                                    <span class="day">{{date.dayNumber}}</span>
                                    <span class="weekday">{{date.weekDay}}</span>
                                    <div class="additional" v-show="date.additional">
                                        <span class="year" v-show="date.additional.year">{{date.additional.year}}</span>
                                        <span class="month" v-show="date.additional.month">{{date.additional.month}}</span>
                                    </div>
                                    <b-collapse :id="'collapseEvent' + date.key" class="b-event-container event-mobile-container" :class="{'show': !collapseEventList}"
                                        v-if="((windowWidth <= 480) && dateIsEqualSelectDate(date))">
                                        <h4>Events:</h4>
                                        <!-- <create-event-form v-on:create="createEvent" v-on:update="newEventForm.eventTitle = $event"></create-event-form> -->
                                        <b-button-group size="sm">
                                            <b-button variant="outline-light" :class="{'active': visibility === 'all'}" @click="changeVisibility('all')">All
                                            </b-button>
                                            <b-button variant="outline-light" :class="{'active': visibility === 'completed'}" @click="changeVisibility('completed')">Completed
                                            </b-button>
                                            <b-button variant="outline-light" :class="{'active': visibility === 'active'}" @click="changeVisibility('active')">Active
                                            </b-button>
                                        </b-button-group>
                                        <transition-group name="event-list" tag="ul" class="event-list" v-if="filteredEventListForSelectedDate.length > 0">
                                            <li class="event" :class="{'completed': event.completed}" v-for="event in filteredEventListForSelectedDate" :key="event.id">
                                                <span class="title">{{event.title}}</span>
                                                <div class="buttons">
                                                    <b-button class="completed-event-btn" :class="{'completed': event.completed}" @click="changeCompletedEvent(event)">
                                                        <i class="fa" :class="event.completed ? 'fa-check-square' : 'fa-square-o'" aria-hidden="true"></i>
                                                    </b-button>
                                                    <b-button class="delete-event-btn" @click="deleteEvent(event)">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </b-button>
                                                </div>
                                            </li>
                                        </transition-group>
                                        <div class="no-events text-center" v-else>
                                            Event list is empty...
                                        </div>
                                    </b-collapse>
                                </div>
                            </div>
                        </div>
                    </b-col>
                </b-row>
            </div>



            <div class="movie_card" id="bright" v-for="item in eventos">
                <div class="info_section">
                    <div class="movie_header">
                        <h3 class="locandina" style="color:white; font-size: 40px !important; font-style: oblique !important; margin-left: 1%;">{{item.fecha.substr(8,2)}}
                            <i class="material-icons calendario locandina">
                                event
                            </i>
                        </h3>
                        <h1 class="locandinas">{{item.fecha.substr(5,2)}}</h1>
                        <h1 class="info">{{item.titulo}}</h1>
                        <h4 id="fecha">{{item.fecha.substr(0,10)}} </h4>
                        <br>
                        <p class="type">
                            <b id="contacto"> Contacto: </b>{{item.contacto}} </p>
                    </div>
                    <div class="movie_desc">
                        <p class="text">
                            <b> {{item.contenido.substring(199,0)}}</b>
                        </p>

                    </div>

                </div>
                <div class="blur_back bright_back">
                    <img v-if="item.img" v-bind:src="item.img">
                    <img v-else class="card-item-top" src="../SitioWeb/img/Proyectos_CDS.png" alt="imagen por defecto">

                </div>
            </div>

        </b-container>

    </div>

    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>  -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
    <script src="js/ScriptCalendar.js"></script>

    <script src="../SitioWeb/js/refresh.js"></script>
</body>

</html>