<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CDS - Main Publicaciones</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--=============================================CSS========================================== -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="css/StyleCrudPublicaciones.css">
    <!-- Modernizer JS -->
    <script src="js/modernizr-2.8.3.min.js"></script>

    <link rel="stylesheet" href="../SitioWeb/css/styleMenu.css">
</head>

<body>
        <style>
                /* ============================================= pagination style  ========================================== */
        
                @media only screen and (max-width: 767px) {
                    .pro-pagination-style.mt-30 {
                        margin-top: 10px;
                    }
                }
                .pro-pagination-style{
                    margin-left: auto;
                    margin-right: auto;
                }
        
                .pro-pagination-style ul li {
                    display: inline-block;
                    margin: 0 4px;
                }
        
                .pro-pagination-style ul li a {
                    display: inline-block;
                    width: 43px;
                    height: 43px;
                    text-align: center;
                    line-height: 43px;
                    font-size: 16px;
                    border-radius: 100%;
                    color: #113A84;
                    background-color: rgb(199, 191, 191);
                    -webkit-box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
                }
        
                .pro-pagination-style ul li a:hover {
                    background-color: #113A84;
                    color: rgb(170, 161, 161);
                }
        
                .pro-pagination-style ul li a.active {
                    background-color: #113A84;
                    color: #fff;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
        
                .pro-pagination-style ul li a.active:hover {
                    background-color: rgb(255, 255, 255);
                    color: #113A84
                }
        
                .pro-pagination-style ul li a.prev,
                .pro-pagination-style ul li a.next {
                    background-color: #f6f6f6;
                    color: #113A84;
                    font-size: 17px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
        
                .pro-pagination-style ul li a.prev:hover,
                .pro-pagination-style ul li a.next:hover {
                    background-color: #113A84;
                    color: #fff;
                }
            </style>
    <!-- barra de navegacion -->
    
        <!-- se valida para mostrar el menu -->
        <section id="refresh">
            <!-- inicio del menu -->
            <!-- se valida para mostrar el menu -->
            <div v-if="menuAcceso" class="sticky-top">
                <!-- Se mostrara este menu si esta logueado -->
                <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id" ></menu-log>
            </div>
            <div v-if="menuAcceso==false"  class="sticky-top">
                <!-- Se mostrara este menu si NO esta logueado -->
                <menu-basico></menu-basico>
            </div>
        </section>

        <section id="app" class="mt-5 pt-4">

        <div class="Blog-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="mr-0">


                            <!-- //////////////////////// publicacion ///////////////// -->
                            <public></public>
                            <!-- ///////////////////////////Paginacion de publicaciones/////////////////////////////// -->

                            <!-- <div class="pro-pagination-style text-center mt-20">
                                <ul>
                                    <li>
                                        <a class="prev" href="#">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="active" href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a class="next" href="#">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                    <!-- -----------------inicio aside derecho------------------------- -->

                    <div class="col-lg-3">
                        <div class="sidebar-style">
                            <div class="sidebar-widget">
                                <h4 class="pro-sidebar-title">Noticias Recientes </h4>

                                <!-- /////////////////////////////////////////////////////////// -->
                                <recientes></recientes>
                                <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


                            </div>
                            <!-- <div class="sidebar-widget mt-35">
                                <h4 class="pro-sidebar-title">Lorem ipsum dolor</h4>
                                <div class="sidebar-widget-list mt-20">
                                    <ul>
                                        <li>---------------</li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="sidebar-widget mt-50">
                                <h4 class="pro-sidebar-title">Lorem</h4>
                                <div class="sidebar-widget-tag mt-25">
                                    <ul>
                                        <li>----------------</li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-------------------fin aside derecho------------------------- -->
                </div>
            </div>
        </div>

    </section>



    <!--=============================================JS========================================== -->

    <!-- jQuery JS -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <!-- <script src="js/script.js"></script> -->
    <!-- Vue JS -->
    <script src="js/vue1.js"></script>
    <script src="js/vue2.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue3.js"></script>
<script src="../SitioWeb/js/refresh.js"></script>
</body>

</html>