<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CDS - Publicacion</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--=============================================CSS========================================== -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="css/StyleCrudPublicaciones.css">
    <!-- Modernizer JS -->
    <script src="js/modernizr-2.8.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <link rel="stylesheet" href="../SitioWeb/css/styleMenu.css">

</head>

<body>
    <!-- barra de navegacion -->
    <section id="refresh">
        <!-- inicio del menu -->
        <!-- se valida para mostrar el menu -->
        <div v-if="menuAcceso" class=" fixed-top">
            <!-- Se mostrara este menu si esta logueado -->
            <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id" ></menu-log>
        </div>
        <div v-if="menuAcceso==false"  class=" fixed-top">
            <!-- Se mostrara este menu si NO esta logueado -->
            <menu-basico></menu-basico>
        </div>
    </section>
    <section id="app" class="mt-5">


        <div class="Blog-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="mr-10 ml-10">
                            <div class="row">


                                <div class="blog-details-top">
                                    <div class="blog-details-img">
                                        <a>
                                            <img id="imagenPricipal" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-details-content">
                                        <div class="blog-meta-2">
                                            <ul>
                                                <li>{{publicacion.updated_at}}</li>
                                                <li>
                                                    <a href="#">{{publicacion.autor}}

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h3>{{publicacion.titulo}}</h3>

                                        <div v-for="item in parrafos ">
                                            <p class="my-3">{{item}}</p>
                                        </div>


                                    </div>
                                </div>


                                <div class="dec-img-wrapper">
                                    <div class="row">
                                        <div class="col-md-6" v-for="imagenes in imagenesSecundarias ">
                                            <div class="dec-img mb-50">
                                                <!-- <img alt="" src="assets/img/blog/Fotoc1.jpg"> -->
                                                <img v-bind:src="imagenes" alt="">
                                            </div>
                                        </div>
                                        <!-- <a v-for="imagenes in publicacion.img.slice(0,1)">
                                                <img v-bind:src="imagenes.img" alt="">
                                            </a> -->
                                        <!-- <div class="col-md-6">
                                                <div class="dec-img mb-50">
                                                    <img alt="" src="assets/img/blog/Fundacion-JBorja-1.jpg">
                                                </div>
                                            </div> -->
                                    </div>

                                </div>

                                <!-- <div class="tag-share">

                                    <div class="blog-share">
                                        <span>Compartir:</span>
                                        <div class="share-social">
                                            <ul>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fab fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fab fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="instagram" href="#">
                                                        <i class="fab fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-------------------inicio aside derecho------------------------- -->
                    <div class="col-lg-3">
                        <div class="sidebar-style">
                            <div class="sidebar-widget">
                                <h4 class="pro-sidebar-title">Noticias Recientes </h4>
                                <recientes></recientes>
                            </div>
                        </div>
                    </div>
                    <!-------------------fin aside derecho------------------------- -->
                </div>
            </div>
        </div>
    </section>



    <!--=============================================JS========================================== -->

    <!-- jQuery JS -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/public2.js"></script>
    <script src="../SitioWeb/js/refresh.js"></script>

</body>

</html>