<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vista de eventos </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--=============================================CSS========================================== -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="css/tarjetas.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.1.css">
    <!-- Modernizer JS -->
    <script src="js/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="css/StyleCrudPublicaciones2.css">


    <link rel="stylesheet" href="../SitioWeb/css/styleMenu.css">

</head>

<body>
        <style>
                /* ============================================= pagination style  ========================================== */
        
                @media only screen and (max-width: 767px) {
                    .pro-pagination-style.mt-30 {
                        margin-top: 10px;
                    }
                }
        
                .pro-pagination-style ul li {
                    display: inline-block;
                    margin: 0 4px;
                }
        
                .pro-pagination-style ul li a {
                    display: inline-block;
                    width: 43px;
                    height: 43px;
                    text-align: center;
                    line-height: 43px;
                    font-size: 16px;
                    border-radius: 100%;
                    color: #113A84;
                    background-color: rgb(199, 191, 191);
                    -webkit-box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
                }
        
                .pro-pagination-style ul li a:hover {
                    background-color: #113A84;
                    color: rgb(170, 161, 161);
                }
        
                .pro-pagination-style ul li a.active {
                    background-color: #113A84;
                    color: #fff;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
        
                .pro-pagination-style ul li a.active:hover {
                    background-color: rgb(255, 255, 255);
                    color: #113A84
                }
        
                .pro-pagination-style ul li a.prev,
                .pro-pagination-style ul li a.next {
                    background-color: #f6f6f6;
                    color: #113A84;
                    font-size: 17px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
        
                .pro-pagination-style ul li a.prev:hover,
                .pro-pagination-style ul li a.next:hover {
                    background-color: #113A84;
                    color: #fff;
                }
            </style>
    <!-- se llama la app que contiene el menu -->
    <section id="refresh">
        <!-- se evalua si esta logueado -->
        <div v-if="menuAcceso" class="fixed-top">
            <menu-log v-bind:user="user" v-bind:rol="rol" v-bind:id="id"></menu-log>
        </div>
        <div v-if="menuAcceso==false"  class="fixed-top">
            <menu-basico></menu-basico>
        </div>
    </section>


        <section id="app" class="mt-5 pt-5">
        <h1 class="text-center text-uppercase mt-4">Eventos CDSAH</h1>
        <div class="text-center box-btnNewPublic">
            <a class="btn btn-primary button-two" type="button" href="calendarioTarjetasEventos.html"  style="color:white;  font-style: oblique;">Calendario de Eventos</a>
        </div>



        
        <div class="movie_card" id="bright" v-for="item in eventos  ">
            <div class="info_section">
                <div class="movie_header">
                    <h3 class="locandina" style="color:white; font-size: 40px; font-style: oblique;">{{item.fecha.substr(8,2)}}
                        <i id="calendario" class="material-icons" style="font-size:42px !important; margin-top: 6% !important;" class="locandina">
                            event
                        </i>
                    </h3>
                    <h1 class="locandinas">{{item.fecha.substr(5,2)}}</h1>
                    <h1 class="info">{{item.titulo}}</h1>
                    <h4 id="fecha">{{item.fecha.substr(0,10)}} </h4>
                    <br>
                    <p class="type">Autor: {{item.contacto}} </p>
                </div>
                <div class="movie_desc">
                    <p class="text">
                        <b>{{item.contenido.substring(180,0)}}</b>
                    </p>

                </div>
                <!-- 
                <div class="movie_social">
                    <ul>
                        <li><i class="material-icons">share</i></li>
                        <li><i class="material-icons"> </i></li>
                        <li><i class="material-icons">chat_bubble</i></li>


                    </ul>

                </div> -->

            </div>
            <div class="blur_back bright_back">
                <img v-if="item.img" v-bind:src="item.img">
                <img v-else class="card-item-top" src="../SitioWeb/img/Proyectos_CDS.png" alt="imagen por defecto">
            </div>
        </div>

        <!-- <div class="pro-pagination-style text-center mt-20">
            <ul>
                <li v-for="pageNumber in totalPages">
                    <a href="#" @click="setPage(pageNumber)">{{ pageNumber+1 }}</a>
                </li>
            </ul>
        </div> -->


    </section>





    <!--=============================================JS========================================== -->

    <!-- jQuery JS -->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Popper JS -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
    <!-- Vue JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <!-- <script src="js/vue.js"></script> -->
    
    
    <!-- <script src="jsc/vue1.js"></script> -->
    <script src="js/vue2.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="../SitioWeb/js/refresh.js"></script>
  
    <script>
        new Vue({
            el: "#app",
            created: function () {
                this.mostrar()

            },

            data: {
                eventos: [],
                //////////////////////////////
                loading: false,
                order: 1,
                searchText: null,
                ccn: null,
                currentPage: 0,
                itemsPerPage: 10,
                resultCount: 0

            },


            computed: {
                totalPages: function () {
                    // console.log(Math.ceil(this.resultCount / this.itemsPerPage) + "totalPages");
                    return Math.ceil(this.resultCount / this.itemsPerPage);

                },
            },
            methods: {
                setPage: function (pageNumber) {
                    this.currentPage = pageNumber;
                    // console.log(pageNumber);
                },

                mostrar: function () {

                    axios.get('http://localhost/APICDS/public/api/eventos/lista')
                        .then(response => {
                            //asignarle al arreglo publicaciones la respuesta donde obtenemos todas las publicaciones
                            this.eventos = response.data.eventos

                        })
                        .catch(error => {
                            console.log(error);
                        })
                }
            },
            filters: {
                paginate: function (list) {
                    this.resultCount = this.eventos.length;
                    // console.log(this.resultCount + " Result count");
                    // console.log(this.currentPage + " current page");
                    // console.log(this.itemsPerPage + " items per page");
                    // console.log(this.totalPages + " Total pages 2");
                    if (this.currentPage >= this.totalPages) {
                        this.currentPage = Math.max(0, this.totalPages - 1);
                    }
                    var index = this.currentPage * this.itemsPerPage;
                    // console.log(index + " index");
                    // console.log(this.eventos.slice(index, index + this.itemsPerPage));
                    return this.eventos.slice(index, index + this.itemsPerPage);
                }
            }
        });


    </script>
 
</body>

</html>