body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
    color: white !important;
    
  }
   span, .nota{
     color: white !important;
   }
  
  .menuBoton{
    color: white;
    font-size: 35px;
  }
  .menuBoton 
  
  .navBut{
    cursor: pointer;
    color: white;
  }
  .navBut::before{
  color: white;
  }
  
  .titulo{
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    --background-color: white;
    --border-bottom: 5px solid;
  }
  
  .nombre{  
    background-color: rgb(0, 45, 87);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: white;
    --width: 100%;
    margin-bottom: 10px;
  }
  
  
  .margen{
    border: 1px solid red;
  }
  
  .cuadro{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    --background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cuadroEliminar{
    --display: none!important;
    
  }
  .cuadroEliminarV{
    display: block!important;
  }
  /* .cuadroEliminar2{
    background-color: rgb(5, 42, 77);
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    color: #F78181;
  }
  .cuadroEliminar2 span{
    font-size: 15px;
    
  } */
  .navBut{
  color: white;
  }
  
  .nota{
    --background-color: #F5A9E1;
    text-align: center;
    width: 100%;
    border-top: 1px solid #BDBDBD;
    color: #585858;
  }
  
  .nota2{
    display: none;
    background-color: #E9E9E9;
    border-right: 10px solid gray;
    border-left: 10px solid gray;
    text-align: center;
    width: 100%;
    border-top: 1px solid #BDBDBD;
    color: #585858;
  }
  .nota2 span{
    --color: black;
    font-weight: bold;
  }
  
  .no{
    
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .telefonos{
    text-align: justify;
    padding-top: 10px;
  }
  
  .imagen{
    text-align: justify;
    --margin-bottom: 10px;
  }
  .imagen img{
    
    width: 100px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .imagen button{
    margin-top: 30px;
  }
  
  .margenT{
    margin-left: 10px!important;
    margin-right: 10px!important;
  }
  
  .separa{
     border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  .menuControl{
    height: 0px;
    opacity: 0;
    width: 100%;
  }
  .menu{
    
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); ;
    --width: 102%;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    --border: 1px solid black;
    
  }
  
  .elemento1{
  }
  .elemento2{ 
  }
  .elemento3{ 
  }
  .elemento4{ 
  }
  .elemento5{ 
  }
  .elemento6{ 
  }
  
  .icono{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    --border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    /* background-color: black; */
    
    cursor: pointer;
  }
  .icono span{
    display: block;
  }
  .icono i{
    font-size: 40px;
  }
  
  
  .adminControl{
    display: none;
    width: 100%;
  }
  .admin{
    height: 100%;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
    color: white;
    
  }
  
  .adminForm{
    padding-top: 40px;  
    margin: 0 auto;
  }
  .adminEspacio{
    border: 1px solid #58ACFA;
    margin-right: 10px;
  }
  .adminBoton{
    width: 200px;
  }
  .adminSalir{
    margin-top: 30px;
  }
  #parteLogin{
    visibility: visible;
  }
  .adminCerrar{
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
    color: #F78181;
    width: 100%;
    cursor: pointer;
    text-align:center;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  
  
  .buscarControl{
    display: none;
    width: 100%;
  }
  .buscar{
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
    padding-top: 20px;
    color: white;
    text-align: center;
  }
  .buscarBotones{
    
    --border: 1px solid yellow;
    height: 100%;
    margin-bottom: 10px;
  }
  .buscarBot{
    
  }
  .buscarDiv{
    border-right: 1px solid yellow;
  }
  .buscarEspacio{
    margin-bottom: 20px;
  }
  .buscarEspacio2{
    margin-top: 20px;
  }
  .buscarCerrar{
    font-size: 40px;
    margin: 0 auto;
    margin-top: 25px;
    color: #F78181;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  
  .nuevoControl{
    display: none;
  }
  .nuevo{
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
    padding-top: 20px;
    color: white;
    text-align: center;
  }
  .nuevoEspacio{
    margin-top: 20px;
  }
  .nuevoFor{
    text-align: right;
  }
  .nuevoCerrar{
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
    color: #F78181;
    width: 100%;
    cursor: pointer;
    text-align:center;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  .eliminarControl{
    display: none;
  }
  .eliminar{
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
    color: white;
    text-align: center;
    padding-top: 15px;
  }
  .eliminarTexto{
    margin-bottom: 25px;
  }
  .eliminarCerrar{
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
    color: #F78181;
    width: 100%;
    cursor: pointer;
    text-align:center;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  
  .datosControl{
    display: none;
  }
  .datos{
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  .datosFila{
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .datosFila i{
    font-size: 40px;
  }
  .datosInfo{
    border: 1px solid white;
    --border-radius: 10px;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px;
    
  }
  .datosI1{
    text-align: center;
    margin-bottom: 15px;
  }
  
  .datosCerrar{
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
    color: #F78181;
    width: 100%;
    cursor: pointer;
    text-align:center;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  .datosBarra1{
    
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  .barra1{
    background-color: #00BFFF!important;
  }
  .barra2{
    background-color: #2E64FE!important;
  }
  .barra3{
    background-color: #3104B4!important;
  }
  .barra4{
    background-color: #0B0B61!important;
  }
  
  .datosBarra2{ 
    color: white;
    text-align: center;
    margin-top: 40px;
  }
  
  .barra2a{
    margin-top: 20px;
  }
  
  
  .ayudaControl{
    display: none;
  }
  .ayuda{
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
    text-align: center;
    color: white;
  }
  .ayudaParrafo{
    margin-top: 30px;
  }
  .ayudaP h6{
    border: 1px solid white;
    padding: 10px;
  }
  .ayudaP{
    margin-top: 20px;
    text-align: center;
  }
  .ayudaCerrar{
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
    color: #F78181;
    width: 100%;
    cursor: pointer;
    text-align:center;
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)); 
  }
  
  .ayudaE1 span{
    color: #2E64FE;
  }
  
  .ayudaE1{
    text-align: left;
  }
  
  .ayudaF1{
    margin-bottom: 20px;
  }
  .ayudaF1 p{
    margin-left: 40px;
    margin-right: 40px;
  }
  
  
  .notaEstado{
   display: none;
   position: fixed;
   top: 50%;
    margin-top: -150px;
   --top: 0;
   left: 0%;
   width: 100%;
   height: 300px;
   --background-color: rgba(88, 88, 88, 1);
    background-color: #2D2D2D;
   z-index: 2;
   font-size: 16px;
    text-align: center;
    color: white;
  }
  .notaEstadoFondo{
    background-color: rgba(88, 88, 88, 0.6);
    position: fixed;
    z-index: 1;
   top: 0;
   left: 0%;
   width: 100%;
   height: 100%;
  }
  .notaEstado h3{
    margin-top: 60px;
    margin-bottom: 20px;
  }
  
  
  .informacion{
    display:none;
   position: fixed;
   top: 50%;
   margin-top: -100px;
   height: 200px;
   background-color: #2D2D2D;
   z-index: 2;
   font-size: 16px;
   text-align: center;
   color: white;
  }
  
  .informacionFondo{
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(100, 100, 100, 0.7);
   z-index: 1;
  }
  
  .informacionTi{
    margin-top: 25px;
  }
  
  .botonC2{
    --background-color: #63B0F8!important;
    color: #FFFEBF!important;
  }
  .botonC3{
    --background-color: #E0E0E0!important;
    color: #FFBFD2!important;
  }
  
  .cargando{
    display: none;
    font-size: 50px; 
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  
  .vacio{
    display: none;
    font-size: 50px; 
    text-align: center;
    margin-top: 70px;
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .vacio span{
    font-size: 20px;
  }
  
  .error{
    display: none;
    position: fixed;
    z-index: 1;
   bottom: 0;
   left: 0;
   width: 100%;
  }
  
  .errorCuadro{
    
    width: 100%;
    text-align: center;
  }
  .errorCuadro div{
    background-color: #8A0808;
    color: white;
    --width: 300px;
    --height: 210px;
    margin: 0 auto;
    padding-top: 5px;
  }
  
  input[type=text]:focus {
      background-color: #19AFD9;
      color: white;
    font-weight: bold;
  }
  .btn-info{
  background-color:rgb(0, 45, 87) !important;
  cursor: pointer;
  }
  
  pre , h1{
  color: white !important;
  }
  
  
  /* .modal{
    color:white;
    background: black;
  } */
  .modal-header, .modal-body, .modal-footer{
    background: linear-gradient(to right,rgb(5, 42, 77),rgb(24, 23, 23)); 
    color:white;
  }
  input, textarea{
    background: linear-gradient(to left,rgb(5, 42, 77),rgb(24, 23, 23)) !important; 
    color:white !important;
  }
  .add {
    width: 10%;
  }