body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    line-height: 1.3;
  } 
  
  .b-calendar {
    display: flex;
    align-items: center;
    /* margin: 2.5em auto; */
    margin-top: 0 !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    /* max-width: 53rem; */
    width: 56% !important;
  font-size: 13px;
    display:block !important; 
    position:fixed;
    /* margin:0 0 0 630px;
    padding:5; */
    float: left !important;
    margin-top: 2% !important;
    
  }
   /* .weekday, .day, .month{
     margin-top: 25% !important;
   } */
  /* #borja{
    width: 120%;
    margin-left: -10%;
    margin-top: 55%;
  } */
  
  
  .b-calendar__information {
    background-color: #024380;
    border-radius: 10px;
    color: #fff;
    height: 100%;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    /* text-align: justify; */
  }
  .b-calendar__information .selected-date {
    padding-top: 3rem;
    padding-left: 2.5rem;
    position: relative;
  }
  .b-calendar__information .selected-date:before {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    top: 4.5rem;
    left: -0.25rem;
  }
  .b-calendar__information .selected-date .weekday {
    font-weight: 100;
    padding-bottom: 0.5em;
  }
  .b-calendar__information .selected-date .day {
    font-size: 2em;
    font-weight: 600;
    line-height: 1;
  }
  .b-calendar__information .selected-date .month {
    font-size: 2em;
    font-weight: 200;
    line-height: 1;
  }
  .b-calendar__information .go-today-link {
    display: none;
  }
  .b-calendar__calendar {
    min-height: 40rem;
    padding-right: 0.9rem;
    margin-left: -4%;
    box-shadow: 2.5px 2.5px 3px 4px #024380;
    
    border-radius: 10px;
  }
  .b-calendar__header {
    margin-bottom: 2rem;
  }
  .b-calendar__header .month {
    font-size: 1.25em;
    font-weight: 200;
    text-transform: capitalize;
    min-width: 10rem;
  }
  .b-calendar__header .year {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .b-calendar__header .arrow {
    background: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
  }
  .b-calendar__header .arrow:hover {
    cursor: pointer;
  }
  .b-calendar__header .arrow-left i {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .b-calendar__header .arrow-right i {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .b-calendar__weekdays {
    display: flex;
    margin-bottom: 1.25rem;
  }
  .b-calendar__weekdays .weekday {
    width: calc(100% / 7);
    padding: 0.25rem 0.5rem;
  }
  .b-calendar__dates {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .b-calendar__dates:after {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: #fff;
    height: 1px;
    width: 100%;
    z-index: 1;
  }
  .b-calendar__dates .date {
    border-right: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: 200;
    min-height: 4.5rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    width: calc(100% / 7);
  }
  .b-calendar__dates .date.blank {
    background-color: rgba(0, 0, 0, 0.014);
    color: rgba(0, 0, 0, 0.2);
  }
  .b-calendar__dates .date.no-border-right {
    border-right: none;
  }
  .b-calendar__dates .date.today {
    background-color:  #024380;
    color: #fff;
  }
  .b-calendar__dates .date.selected {
    background-color:  #024380;
    color: #fff;
  }
  .b-calendar__dates .date .link {
    cursor: pointer;
    position: absolute;
    top: 0.05rem;
    left: 0.05rem;
    bottom: 0.05rem;
    right: 0.05rem;
    z-index: 1;
  }
  .b-calendar__dates .date .weekday {
    display: none;
  }
  .b-calendar__dates .date .additional {
    font-size: 0.75em;
    position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
  }
  .b-calendar__dates .date .additional .year {
    padding-right: 0.25rem;
    font-size: 0.75em;
  }
  .b-calendar__dates .date .event-mobile-container {
    display: none;
  }
  
  .b-event-container {
    margin-top: 2rem;
  }
  .b-event-container .create-event-form {
    margin-bottom: 1rem;
  }
  .b-event-container .create-event-form .event-title-input {
    margin-right: 0.25rem;
    width: calc(100% - 2.7rem);
  }
  .b-event-container .btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .b-event-container .btn-group .btn {
    width: 33.33%;
  }
  .b-event-container .event-list {
    list-style: none;
    padding: 0;
    margin-left: -0.9rem;
    margin-right: -0.9rem;
    max-height: 20rem;
    overflow-y: auto;
  }
  .b-event-container .event-list .event {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.9rem;
    margin-bottom: 0.5rem;
  }
  .b-event-container .event-list .event.completed {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .b-event-container .event-list .event.completed .title {
    opacity: 0.5;
  }
  .b-event-container .event-list .event.completed .title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5rem;
    display: block;
    width: 0%;
    height: 1px;
    background: #fff;
    -webkit-animation: strikeitem 0.3s ease-out 0s forwards;
            animation: strikeitem 0.3s ease-out 0s forwards;
  }
  .b-event-container .event-list .event .title {
    position: relative;
    max-width: calc(100% - 4rem);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .b-event-container .event-list .event .buttons {
    display: flex;
  }
  .b-event-container .event-list .event .buttons .btn {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2em;
    padding: 0;
    height: 1.75rem;
    width: 1.75rem;
    box-shadow: none;
  }
  .b-event-container .no-events {
    margin-top: 1.5rem;
  }
  
  @-webkit-keyframes strikeitem {
    to {
      width: calc(100% + 1rem);
    }
  }
  
  @keyframes strikeitem {
    to {
      width: calc(100% + 1rem);
    }
  }
  @media (max-width: 991.98px) {
    .b-calendar__calendar {
      padding: 0;
    }
    .b-calendar__information {
      border-radius: 2rem 2rem 0 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      min-height: auto;
    }
    .b-calendar__information .today {
      padding-top: 0;
    }
  }
  @media (max-width: 480px) {
    .b-calendar{
      display: block !important;
      width: auto !important;
      display: none !important;
  }
  .movie_card{
    display: block !important;
    width: auto !important;
    
  }

    
    .b-calendar__weekdays {
      display: none;
    }
    .b-calendar__information .selected-date {
      padding-top: 2rem;
      padding-bottom: 1rem;
      padding-left: 2.5rem;
    }
    .b-calendar__information .selected-date:before {
      top: 3rem;
    }
    .b-calendar__information .b-event-container {
      display: none;
    }
    .b-calendar__information .go-today-link {
      display: block;
      color: #fff;
    }
    .b-calendar__header .go-today-btn {
      display: none;
    }
    .b-calendar__header .month-change-container {
      width: 100%;
      min-width: 100%;
    }
    .b-calendar__header .month {
      width: 100%;
    }
    .b-calendar__dates .date {
      width: 100%;
      text-align: left !important;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      display: flex;
    }
    .b-calendar__dates .date.blank {
      display: none;
    }
    .b-calendar__dates .date .weekday {
      display: block;
      margin-left: 0.25rem;
    }
    .b-calendar__dates .date .event-mobile-container {
      background: #535c68;
      display: block;
      position: absolute;
      margin-top: 0;
      top: 100%;
      left: 0;
      right: 0;
      padding: 2rem 0.5rem;
      z-index: 10;
    }
    .b-calendar__dates .date .event-mobile-container.collapse {
      display: none !important;
    }
    .b-calendar__dates .date .event-mobile-container.show {
      display: block !important;
    }
  }

#addEventBtn{

  float: right !important;
}

  /*////////////////////////////////////////////////////////// tarjetas de eventos //////////////////////////////////////////////////////////////////////////*/




  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
  * {
    box-sizing: border-box;
    margin: 0 ;
    
  }
  
  .movie_card {
    position: relative;
    display: block !important;
    width: 40%;
    height: 350px;
    margin-top: 2% !important;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    font-size: 25px !important;
    margin:0 0 0 630px;
    padding:10; 
   margin-right: 1%;
  
    float: right;  
    margin-top: 5%;
    text-align: left;
   
    /* margin-left: 10%; */
    /* border: 0.5px solid black;
*/

    

}


/*estilos tarjetas*/
/* .movie_card {
position: relative;
display: block !important;
width: 688px;
margin-top: 2% !important;
margin-right: 1.5% !important;
height: 350px;
margin: 100px auto;
overflow: hidden;
border-radius: 10px;
transition: all 0.4s;
float: right;
} */


.movie_card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: all 0.4s;
}

.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;

}

.movie_card .info_section .movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.movie_card .info_section .movie_header h1 {
    color: #fff;
    font-weight: 400;
    font-size: 27px;
}

.movie_card .info_section .movie_header h4 {
    color: #9ac7fa;
    font-weight: 100;
}

.movie_card .info_section .movie_header .minutes {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #cee4fd;
    font-style: oblique;
    margin-left: 12% !important;
    /* margin-top: 0% !important; */
    /* width: 10%; */
    /* height: 5px; */
    font-size: 14px;

}

.info {
    margin-left: 38% !important;
    margin-top: 5% !important;
    font-size: 18px !important;
    /* padding: 0% !important; */
    font-style: oblique;
    height: 30px;
}
.calendario{
  font-size:55px; 
}
#fecha{
    font-style: oblique !important;
    margin-top: 10.5% !important;
    font-size: 16px !important;
    height: 8px;
    margin-left: -15px;
    
}
#contacto{
font-weight: 600;
font-size: 20px;
/* margin-left: 10% !important; */
}

.movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
    margin-top: 3% !important;
    /* height: 10px; */

}

.locandinas {
    position: relative;
    float: left;
    text-align: center;
    font-size: 25px;
    margin-top: 20% !important;
    margin-left: -80px;
    font-weight: bolder !important;
    font-style: oblique;

}

.movie_card .info_section .movie_desc {
    padding: 25px;
    /* /* margin-top: 13% !important;
    margin-left: 5%; 
    height: 50%; */
}

.movie_card .info_section .movie_desc .text {
    color: #cfd6e1;
    font-style: oblique;
    font-size: 15px;

}

.movie_descmovie_desc,
.text {
    /* font-size: 12px !important; */
    margin-top: 10% !important;
    /* margin-top: 2% !important; */
}

.movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
    list-style: none;
    padding: 0;
}

.movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}

.movie_card .info_section .movie_social ul li:hover {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);
}

.movie_card .info_section .movie_social ul li i {
    font-size: 19px;
    cursor: pointer;
}

.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 60%;
        
    }
    .movie_card{
      /* margin-top: 5% !important; */
      /* position: absolute !important; */
      display: inline-block !important;
      /* width: 80% !important; */
      
    }
    /* .b-calendar{
      position: relative !important;
      display:none;
      width: 80% !important;
      margin-left: 10% !important;
      display: inline-block !important;
    }  */
    /* #borja{
      display: inline-block !important;
      width: 50% !important;
    } */
    #titulo{
      display: inline-block !important;
      width: 80% !important;
    }

    .movie_desc {
        width: 50%;
        margin-bottom: 50% !important;
    }

    .info_section {
        background: linear-gradient(to right, rgb(0, 45, 87) 40%, transparent 80%);
    }

    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
    }

    h3 {
        font-size: 40px;
    }


}

@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc {
        width: 100%;
        margin-bottom: 5% !important;
    }

    .info_section {
        background: linear-gradient(to top, rgb(0, 45, 87), transparent 100%);
        display: inline-grid;
    }

    h3 {
        font-size: 40px;
    }
}

@media screen and (min-width: 360px) {
    h3 {
        font-size: 35px !important;
    }

    .locandinas {
        font-size: 30px !important;
    }

    .button {
        width: 30% !important;
        height: 25px !important;
        font-size: 8px !important;
        text-align: center !important;
        margin-left: 130px !important;
        margin-top: 6% !important;
    }

}

@media screen and (min-width: 320px) {
    h3 {
        font-size: 45px !important;
    }

    .locandinas {
        font-size: 30px !important;
        margin-top: 20%;
    }

    #calendario {
        font-size: 50px !important;
    }

    .button {
        width: 30% !important;
        height: 25px !important;
        font-size: 8px !important;
        text-align: center !important;
        margin-left: 130px !important;
        margin-top: 6% !important;
    }



}

.bright_back {
    /* background: url("https://fundacionjborja.org/wp-content/gallery/cds-cierre-enero-2019/CDS-CIERRE-2.jpg"); */
    width: 100% !important;
    /* margin-left: 5% !important; */
}