/* ============================================= Google Font ========================================== */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900");
/* ============================================= global  ========================================== */

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffffff;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(39, 38, 38);
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

a, button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a, button, img, input, span {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button, input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/* ============================================= clasess comunes  ========================================== */

.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.section {
  float: left;
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.border-bottom-1 {
  border-bottom: 1px solid #d5d5d5;
}

a:hover {
  color: #013F7A;
}

/* =============================================   Basic margin padding  ========================================== */

.m-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* ============================================= Margin top ========================================== */

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

@media only screen and (max-width: 767px) {
  .mt-80 {
    margin-top: 60px;
  }
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-150 {
  margin-top: 150px;
}

/* ============================================= Margin right ========================================== */

.mr-0 {
  margin-right: 0px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-35 {
  margin-right: 35px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-70 {
  margin-right: 70px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-90 {
  margin-right: 90px;
}

.mr-100 {
  margin-right: 100px;
}

.mr-110 {
  margin-right: 110px;
}

.mr-120 {
  margin-right: 120px;
}

.mr-130 {
  margin-right: 130px;
}

.mr-140 {
  margin-right: 140px;
}

.mr-150 {
  margin-right: 150px;
}

/* ============================================= Margin bottom ========================================== */

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .mb-80 {
    margin-bottom: 60px;
  }
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .mb-100 {
    margin-bottom: 50px;
  }
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-150 {
  margin-bottom: 150px;
}

/* =============================================  Margin left  ========================================== */

.ml-0 {
  margin-left: 0;
}

.ml-10 {
  margin-left: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-55 {
  margin-left: 55px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-75 {
  margin-left: 75px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-95 {
  margin-left: 95px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-110 {
  margin-left: 110px;
}

.ml-120 {
  margin-left: 120px;
}

.ml-130 {
  margin-left: 130px;
}

.ml-140 {
  margin-left: 140px;
}

.ml-145 {
  margin-left: 145px;
}

.ml-150 {
  margin-left: 150px;
}

.ml-ntv5 {
  margin-left: -5px;
}

/* ============================================= Padding top ========================================== */

.pt-0 {
  padding-top: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

@media only screen and (max-width: 767px) {
  .pt-70 {
    padding-top: 60px;
  }
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

@media only screen and (max-width: 767px) {
  .pt-80 {
    padding-top: 60px;
  }
}

.pt-95 {
  padding-top: 95px;
}

@media only screen and (max-width: 767px) {
  .pt-95 {
    padding-top: 55px;
  }
}

.pt-90 {
  padding-top: 90px;
}

@media only screen and (max-width: 767px) {
  .pt-90 {
    padding-top: 50px;
  }
}

.pt-100 {
  padding-top: 100px;
}

@media only screen and (max-width: 767px) {
  .pt-100 {
    padding-top: 60px;
  }
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

@media only screen and (max-width: 767px) {
  .pt-110 {
    padding-top: 40px;
  }
}

.pt-115 {
  padding-top: 115px;
}

@media only screen and (max-width: 767px) {
  .pt-115 {
    padding-top: 60px;
  }
}

.pt-120 {
  padding-top: 120px;
}

@media only screen and (max-width: 767px) {
  .pt-120 {
    padding-top: 50px;
  }
}

.pt-125 {
  padding-top: 125px;
}

@media only screen and (max-width: 767px) {
  .pt-125 {
    padding-top: 55px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pt-125 {
    padding-top: 75px;
  }
}

.pt-128 {
  padding-top: 128px;
}

.pt-130 {
  padding-top: 130px;
}

@media only screen and (max-width: 767px) {
  .pt-130 {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pt-130 {
    padding-top: 80px;
  }
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-180 {
  padding-top: 180px;
}

@media only screen and (max-width: 767px) {
  .pt-180 {
    padding-top: 60px;
  }
}

.pt-205 {
  padding-top: 205px;
}

.pt-230 {
  padding-top: 230px;
}

.pt-270 {
  padding-top: 270px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pt-270 {
    padding-top: 170px;
  }
}

@media only screen and (max-width: 767px) {
  .pt-270 {
    padding-top: 100px;
  }
}

.pt-240 {
  padding-top: 240px;
}

.pt-365 {
  padding-top: 365px;
}

.pt-370 {
  padding-top: 370px;
}

.pt-380 {
  padding-top: 380px;
}

/* ============================================= Padding right ========================================== */

.pr-0 {
  padding-right: 0;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-50 {
  padding-right: 50px;
}

.pr-60 {
  padding-right: 60px;
}

.pr-70 {
  padding-right: 70px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-90 {
  padding-right: 90px;
}

.pr-100 {
  padding-right: 100px;
}

.pr-110 {
  padding-right: 110px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-130 {
  padding-right: 130px;
}

.pr-140 {
  padding-right: 140px;
}

.pr-155 {
  padding-right: 155px;
}

.pr-270 {
  padding-right: 270px;
}

/* ============================================= Padding bottom ========================================== */

.pb-0 {
  padding-bottom: 0;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

@media only screen and (max-width: 767px) {
  .pb-55 {
    padding-bottom: 15px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .pb-60 {
    padding-bottom: 20px;
  }
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

@media only screen and (max-width: 767px) {
  .pb-70 {
    padding-bottom: 30px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}

@media only screen and (max-width: 767px) {
  .pb-80 {
    padding-bottom: 40px;
  }
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

@media only screen and (max-width: 767px) {
  .pb-90 {
    padding-bottom: 50px;
  }
}

.pb-95 {
  padding-bottom: 95px;
}

@media only screen and (max-width: 767px) {
  .pb-95 {
    padding-bottom: 55px;
  }
}

.pb-100 {
  padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
  .pb-100 {
    padding-bottom: 30px;
  }
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

@media only screen and (max-width: 767px) {
  .pb-115 {
    padding-bottom: 60px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}

@media only screen and (max-width: 767px) {
  .pb-120 {
    padding-bottom: 50px;
  }
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

@media only screen and (max-width: 767px) {
  .pb-130 {
    padding-bottom: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pb-130 {
    padding-bottom: 80px;
  }
}

.pb-140 {
  padding-bottom: 140px;
}

@media only screen and (max-width: 767px) {
  .pb-140 {
    padding-bottom: 60px;
  }
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-280 {
  padding-bottom: 280px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-285 {
  padding-bottom: 285px;
}

.pb-270 {
  padding-bottom: 270px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pb-270 {
    padding-bottom: 170px;
  }
}

@media only screen and (max-width: 767px) {
  .pb-270 {
    padding-bottom: 100px;
  }
}

.pb-290 {
  padding-bottom: 290px;
}

/* ============================================= Padding left ========================================== */

.pl-0 {
  padding-left: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-50 {
  padding-left: 50px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-70 {
  padding-left: 70px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-90 {
  padding-left: 90px;
}

.pl-100 {
  padding-left: 100px;
}

.pl-110 {
  padding-left: 110px;
}

.pl-120 {
  padding-left: 120px;
}

.pl-130 {
  padding-left: 130px;
}

.pl-140 {
  padding-left: 140px;
}

.pl-150 {
  padding-left: 150px;
}

.pl-155 {
  padding-left: 155px;
}

.pl-190 {
  padding-left: 190px;
}

/* ============================================= mobile menu area ========================================== */

.mobile-menu-area {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-menu-area {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .mobile-menu-area {
    display: block;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mobile-menu-area {
    display: block;
  }
}

.mobile-menu-area.white-mobile-menu a.meanmenu-reveal {
  color: #fff;
  border: 1px solid #fff;
}

.mobile-menu-area.white-mobile-menu a.meanmenu-reveal span {
  background-color: #fff;
}

.stick .mobile-menu-area.white-mobile-menu a.meanmenu-reveal {
  color: #333;
  border: 1px solid #333;
}

.stick .mobile-menu-area.white-mobile-menu a.meanmenu-reveal span {
  background-color: #333;
}

.mean-container a.meanmenu-reveal {
  top: -30px;
}

#mobile-menu-active {
  display: none;
}

.mobile-menu .mean-nav ul.menu-overflow {
  height: 215px;
  margin-top: 10;
  overflow-y: auto;
}

.mobile-menu.mean-container .mean-nav ul {
  margin: 14px 0 0;
}

/* =============================================  Scroll Up |@media  ========================================== */

#scrollUp {
  width: 50px;
  height: 50px;
  background-color: #113A84;
  color: #fff;
  right: 20px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  z-index: 9811 !important;
}

@media only screen and (max-width: 767px) {
  #scrollUp {
    width: 40px;
    height: 40px;
  }
}

#scrollUp i {
  display: block;
  line-height: 50px;
  font-size: 22px;
}

@media only screen and (max-width: 767px) {
  #scrollUp i {
    line-height: 40px;
    font-size: 16px;
  }
}

#scrollUp:hover i {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.height-100 {
  height: 100vh;
}

/* ============================================= Background Color ========================================== */

.bg-purple {
  background-color: #f0e0ff;
}

.bg-blue {
  background-color: #013F7A;
}

.bg-blue-1 {
  background-color: #01579b;
}

.bg-blue-2 {
  background-color: #073c6d;
}

.bg-gray {
  background-color: #f6f6f8;
}

.bg-gray-2 {
  background-color: #f6f6f6;
}

.bg-gray-3 {
  background-color: #f7f7f7;
}

.default-overlay {
  position: relative;
}

.default-overlay:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  right: 0;
  bottom: 0;
}

/* ============================================= btn botones ========================================== */

.btn-hover a {
  position: relative;
  -webkit-transition: all .5s ease-in-out 0s;
  -o-transition: all .5s ease-in-out 0s;
  transition: all .5s ease-in-out 0s;
}

.btn-hover a:hover {
  border: 1px solid #013F7A;
  color: #fff;
}

.btn-hover a::before, .btn-hover a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}

.btn-hover a::after {
  width: 0;
  left: auto;
  right: 0;
  background: #013F7A;
}

.btn-hover a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

a.default-btn {
  font-size: 16px;
  color: #010101;
  display: inline-block;
  border: 1px solid #333;
  text-transform: uppercase;
  line-height: 1;
  padding: 19px 50px 21px;
}

/* ============================================= animated img bounce  ========================================== */

@-webkit-keyframes bounce-img {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bounce-img {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* ============================================= Header | sticky |navbar ========================================== */

.header-area {
  position: relative;
}

.sticky-bar.stick {
  -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  background-color: #fff;
  border-bottom: 0 solid #4a90e2;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.header-padding-1 .container-fluid {
  padding: 0 80px;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .header-padding-1 .container-fluid {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-padding-1 .container-fluid {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-padding-1 .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  .header-padding-1 .container-fluid {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-res-padding {
    padding: 20px 0 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-res-padding {
    padding: 10px 0 5px;
  }
}

.logo {
  margin-top: 32px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    margin-top: 0px;
  }
}

.logo.logo-hm5 {
  margin-top: 41px;
}

.logo.logo-hm5 a.sticky-block {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo.logo-hm5 {
    margin-top: 0px;
    text-align: left !important;
  }
}

@media only screen and (max-width: 767px) {
  .logo.logo-hm5 {
    margin-top: 0px;
    text-align: left !important;
  }
}

.stick .logo-hm5 a.sticky-block {
  display: block;
}

.stick .logo-hm5 a.sticky-none {
  display: none;
}

.main-menu nav ul {
  display: block;
  text-align: center;
  margin-top: -5px;
}

.main-menu nav ul li {
  display: inline-block;
  padding: 0 15px;
  position: relative;
}

.main-menu nav ul li ul.submenu {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  display: block;
  left: 0;
  padding: 20px 0px 22px;
  position: absolute;
  top: 100%;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 190px;
  z-index: 999;
}

.main-menu nav ul li ul.submenu li {
  display: block;
  padding: 0 20px;
  margin-left: 0px;
}

.main-menu nav ul li ul.submenu li a {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: capitalize;
  padding-top: 0px;
}

.main-menu nav ul li ul.submenu li a:hover {
  color: #013F7A;
}

.main-menu nav ul li ul.submenu li a::before {
  background: #013F7A none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 7px;
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 13px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 7px;
  z-index: 999;
}

.main-menu nav ul li ul.submenu li:hover a::before {
  opacity: 1;
}

.main-menu nav ul li ul.submenu li:hover a {
  padding-left: 12px;
}

.main-menu nav ul li ul.mega-menu {
  background-color: #fff;
  display: block;
  left: 0;
  padding: 40px 40px 0px 40px;
  position: absolute;
  text-align: left;
  top: 100%;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 700px;
  z-index: 999;
  -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu nav ul li ul.mega-menu {
    left: -75px;
  }
}

.main-menu nav ul li ul.mega-menu>li {
  display: inline-block;
  float: left;
  margin-left: 0;
  padding: 0;
  width: 33.33%;
}

.main-menu nav ul li ul.mega-menu>li ul li.mega-menu-title {
  float: inherit;
  width: 100%;
}

.main-menu nav ul li ul.mega-menu>li ul li.mega-menu-title a {
  color: #242424;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.main-menu nav ul li ul.mega-menu>li ul li.mega-menu-title a::before {
  display: none;
}

.main-menu nav ul li ul.mega-menu>li ul li.mega-menu-title:hover a {
  padding-left: 0px;
}

.main-menu nav ul li ul.mega-menu>li ul li {
  display: block;
  float: inherit;
  padding: 0px;
}

.main-menu nav ul li ul.mega-menu>li ul li a {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: capitalize;
  padding-top: 0px;
}

.main-menu nav ul li ul.mega-menu>li ul li a:hover {
  color: #013F7A;
}

.main-menu nav ul li ul.mega-menu>li ul li a::before {
  background: #013F7A none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 7px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 13px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 7px;
  z-index: 999;
}

.main-menu nav ul li ul.mega-menu>li ul li.mega-menu-img:hover a {
  padding-left: 0px;
}

.main-menu nav ul li ul.mega-menu>li ul li.mega-menu-img a::before {
  display: none;
}

.main-menu nav ul li ul.mega-menu>li ul li:hover a::before {
  opacity: 1;
}

.main-menu nav ul li ul.mega-menu>li ul li:hover a {
  padding-left: 12px;
}

.main-menu nav ul li:hover>ul.submenu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
}

.main-menu nav ul li:hover>ul.mega-menu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu nav ul li {
    padding: 0 7px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .main-menu nav ul li {
    padding: 0 10px;
  }
}

.main-menu nav ul li>a {
  font-size: 15px;
  color: #555252;
  font-weight: 500;
  letter-spacing: .8px;
  display: inline-block;
  line-height: 94px;
}

.main-menu nav ul li>a i {
  font-size: 15px;
  margin-left: 1px;
  position: relative;
  top: 0px;
}

.main-menu nav ul li:hover a {
  color: #013F7A;
}

.main-menu.menu-white nav ul {
  text-align: left;
}

.main-menu.menu-white nav ul li {
  padding: 0 30px 0 0;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .main-menu.menu-white nav ul li {
    padding: 0 22px 0 0;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .main-menu.menu-white nav ul li {
    padding: 0 14px 0 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu.menu-white nav ul li {
    padding: 0 14px 0 0;
  }
}

.main-menu.menu-white nav ul li>a {
  color: #ffffff;
  line-height: 112px;
}

.stick .main-menu.menu-white nav ul li a {
  color: #555252;
}

.stick .main-menu.menu-white nav ul li a:hover {
  color: #013F7A;
}

.stick .main-menu nav ul li a {
  line-height: 75px;
}

.stick .logo, .stick .header-right-wrap {
  margin-top: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stick .logo, .stick .header-right-wrap {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .stick .logo, .stick .header-right-wrap {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stick .logo, .stick .header-right-wrap {
    margin-top: 0px;
  }
}

.stick .header-right-wrap .same-style.cart-wrap .shopping-cart-content, .stick .header-right-wrap .same-style .account-dropdown {
  top: 160%;
}

@media only screen and (max-width: 767px) {
  .stick .header-right-wrap .same-style.cart-wrap .shopping-cart-content, .stick .header-right-wrap .same-style .account-dropdown {
    top: 100%;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stick .header-right-wrap .same-style.cart-wrap .shopping-cart-content, .stick .header-right-wrap .same-style .account-dropdown {
    top: 100%;
    margin-top: 14px;
  }
}

.header-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right-wrap {
    margin-top: 0px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-wrap {
    margin-top: 2px;
    margin-right: 50px;
  }
}

.header-right-wrap .same-style {
  margin-left: 14px;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-right-wrap .same-style {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-wrap .same-style {
    margin-left: 5px;
  }
}

.header-right-wrap .same-style>a {
  color: #000;
  font-size: 23px;
}

.header-right-wrap .same-style:first-child {
  margin-left: 0px;
}

.header-right-wrap .same-style:hover>a {
  color: #013F7A;
}

.header-right-wrap .same-style .account-dropdown {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  left: 0;
  padding: 8px 12px 10px;
  position: absolute;
  text-align: left;
  top: 190%;
  width: 125px;
  z-index: 220;
  display: none;
}

@media only screen and (max-width: 767px) {
  .header-right-wrap .same-style .account-dropdown {
    top: 100%;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right-wrap .same-style .account-dropdown {
    top: 100%;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-right-wrap .same-style .account-dropdown {
    left: -40px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .header-right-wrap .same-style .account-dropdown {
    left: -34px;
  }
}

.header-right-wrap .same-style .account-dropdown ul li a {
  display: block;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  text-transform: capitalize;
  color: #000;
}

.header-right-wrap .same-style .account-dropdown ul li a:hover {
  padding-left: 5px;
  color: #013F7A;
}

.header-right-wrap .same-style.account-satting>a {
  font-size: 24px;
}

.header-right-wrap .same-style.cart-wrap {
  margin-left: 12px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-right-wrap .same-style.cart-wrap {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-wrap .same-style.cart-wrap {
    margin-left: 3px;
  }
}

.header-right-wrap .same-style.cart-wrap button {
  background: transparent;
  border: none;
  padding: 0;
  color: #000;
  font-size: 24px;
  position: relative;
}

.header-right-wrap .same-style.cart-wrap button span.count-style {
  position: absolute;
  top: -9px;
  right: -14px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  line-height: 21px;
  font-size: 12px;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .header-right-wrap .same-style.cart-wrap button span.count-style {
    right: -5px;
  }
}

.header-right-wrap .same-style.cart-wrap:hover>button {
  color: #013F7A;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  padding: 31px 35px 10px;
  position: absolute;
  right: 0;
  top: 190%;
  width: 340px;
  z-index: 9999;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content.cart-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

@media only screen and (max-width: 767px) {
  .header-right-wrap .same-style.cart-wrap .shopping-cart-content {
    width: 295px;
    right: -52px;
    padding: 31px 15px 10px;
    overflow-y: auto;
    height: 300px;
    top: 100%;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right-wrap .same-style.cart-wrap .shopping-cart-content {
    overflow-y: auto;
    height: 300px;
    margin-top: 18px;
    top: 100%;
    margin-top: 14px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-right-wrap .same-style.cart-wrap .shopping-cart-content {
    overflow-y: auto;
    height: 400px;
  }
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li {
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 82px;
  flex: 0 0 82px;
  margin-right: 15px;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-title h4 {
  font-size: 15px;
  line-height: 16px;
  margin: 0;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-title h4 a {
  color: #000;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-title h4 a:hover {
  color: #013F7A;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-title h6 {
  font-size: 13px;
  margin: 5px 0 8px;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-title span {
  font-size: 14px;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 100;
  -ms-flex-positive: 100;
  flex-grow: 100;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-delete a {
  font-size: 16px;
  color: #013F7A;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-delete a:hover {
  color: #333;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content .shopping-cart-total h4 {
  font-size: 14px;
  margin-bottom: 17px;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content .shopping-cart-total h4 span {
  float: right;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content .shopping-cart-btn {
  margin-top: 23px;
}

.header-right-wrap .same-style.cart-wrap .shopping-cart-content .shopping-cart-btn a {
  margin-bottom: 20px;
  padding: 16px 40px 17px;
  font-weight: 500;
  font-size: 14px;
  display: block;
}

.header-right-wrap.header-right-wrap-white {
  margin-top: 40px;
}

.header-right-wrap.header-right-wrap-white .same-style>a {
  color: #fff;
}

.header-right-wrap.header-right-wrap-white .same-style.cart-wrap>button {
  color: #fff;
}

.header-right-wrap.header-right-wrap-white .same-style.cart-wrap>button span.count-style {
  background-color: #fff;
  color: #000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right-wrap.header-right-wrap-white {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-wrap.header-right-wrap-white {
    margin-top: 3px;
  }
}

.header-right-wrap .same-style.header-search .search-content {
  background: #ffffff none repeat scroll 0 0;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 193%;
  z-index: 99;
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-right-wrap .same-style.header-search .search-content {
    top: 154%;
  }
}

@media only screen and (max-width: 767px) {
  .header-right-wrap .same-style.header-search .search-content {
    right: -105px;
    top: 154%;
    min-width: 260px;
  }
}

.header-right-wrap .same-style.header-search .search-content form {
  position: relative;
}

.header-right-wrap .same-style.header-search .search-content form input {
  border: 1px solid #d3d3d3;
  outline: medium none;
  padding: 5px 72px 5px 15px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 100%;
  color: #000;
  background: transparent;
}

.header-right-wrap .same-style.header-search .search-content form .button-search {
  background: #073c6d;
  border-color: #ce9634;
  color: #ffffff;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  border: none;
  height: 100%;
  padding: 5px 20px 2px;
  font-size: 20px;
  line-height: 1;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-right-wrap .same-style.header-search .search-content form .button-search:hover {
  background-color: #000;
}

.stick .same-style.header-search .search-content {
  top: 160%;
}

.stick .header-right-wrap.header-right-wrap-white {
  margin-top: 22px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .stick .header-right-wrap.header-right-wrap-white {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .stick .header-right-wrap.header-right-wrap-white {
    margin-top: 0px;
  }
}

.stick .header-right-wrap.header-right-wrap-white .same-style>a {
  color: #000;
}

.stick .header-right-wrap.header-right-wrap-white .same-style>a:hover {
  color: #073c6d;
}

.stick .header-right-wrap.header-right-wrap-white .same-style.cart-wrap>button {
  color: #000;
}

.stick .header-right-wrap.header-right-wrap-white .same-style.cart-wrap>button:hover {
  color: #073c6d;
}

.stick .header-right-wrap.header-right-wrap-white .same-style.cart-wrap>button span.count-style {
  background-color: #000;
  color: #fff;
}

/* header 3 */

.header-padding-2 .container-fluid {
  padding: 0 70px;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .header-padding-2 .container-fluid {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-padding-2 .container-fluid {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-padding-2 .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  .header-padding-2 .container-fluid {
    padding: 0 15px;
  }
}

.header-top-area {
  border-bottom: 1px solid #d5d4d4;
}

.header-top-area .header-top-wap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .header-top-area .header-top-wap {
    display: block;
    margin-bottom: 15px;
    margin-top: 8px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-top-area .header-top-wap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.header-offer p {
  color: #555252;
  letter-spacing: .8px;
  margin: 0;
}

.header-offer p span {
  color: #013F7A;
}

@media only screen and (max-width: 767px) {
  .header-offer p {
    text-align: center;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-offer p {
    text-align: right;
  }
}

/* home 4 */

.home-sidebar-left {
  height: 100%;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 375px;
  z-index: 7;
  padding: 72px 0 40px 0px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .home-sidebar-left {
    width: 300px;
    padding: 50px 0 30px 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-left {
    width: 300px;
    padding: 50px 0 30px 0px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-left {
    width: 280px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-sidebar-left {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-sidebar-left {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .home-sidebar-left {
    display: none;
  }
}

.home-sidebar-left .logo {
  margin-top: 0;
  padding: 0px 0 0px 108px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .home-sidebar-left .logo {
    padding: 0px 0 0px 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-left .logo {
    padding: 0px 0 0px 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-sidebar-left .logo {
    padding: 0px 0 0px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-sidebar-left .logo {
    padding: 0px 0 0px 30px;
  }
}

.home-sidebar-left .header-right-wrap {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 46px;
  margin-bottom: 67px;
  padding: 0px 0 0px 108px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .home-sidebar-left .header-right-wrap {
    padding: 0px 0 0px 50px;
    margin-top: 26px;
    margin-bottom: 27px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-left .header-right-wrap {
    padding: 0px 0 0px 30px;
    margin-top: 26px;
    margin-bottom: 27px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-sidebar-left .header-right-wrap {
    padding: 0px 0 0px 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-sidebar-left .header-right-wrap {
    padding: 0px 0 0px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.home-sidebar-left .header-right-wrap .same-style.cart-wrap .shopping-cart-content {
  right: auto;
  left: 0;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .home-sidebar-left .header-right-wrap .same-style.cart-wrap .shopping-cart-content {
    overflow-y: auto;
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-left .header-right-wrap .same-style.cart-wrap .shopping-cart-content {
    overflow-y: auto;
    height: 300px;
  }
}

.home-sidebar-left .header-right-wrap .same-style.header-search .search-content {
  left: 0;
  right: auto;
}

.home-sidebar-left .sidebar-copyright {
  padding: 120px 63px 50px 63px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .home-sidebar-left .sidebar-copyright {
    padding: 40px 63px 50px 63px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-left .sidebar-copyright {
    padding: 40px 63px 50px 63px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-sidebar-left .sidebar-copyright {
    padding: 40px 15px 50px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-sidebar-left .sidebar-copyright {
    padding: 50px 15px 50px 30px;
  }
}

.home-sidebar-left .sidebar-copyright p {
  letter-spacing: .9px;
  color: #313131;
  margin: 0;
  text-align: center;
}

.home-sidebar-right {
  border-left: 1px solid #efefef;
  margin-left: 375px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .home-sidebar-right {
    margin-left: 300px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .home-sidebar-right {
    margin-left: 280px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .home-sidebar-right {
    margin-left: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-sidebar-right {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .home-sidebar-right {
    margin-left: 0px;
  }
}

.sidebar-menu {
  padding: 0px 0 0px 108px;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .sidebar-menu {
    padding: 0px 0 0px 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .sidebar-menu {
    padding: 0px 0 0px 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-menu {
    padding: 0px 0 0px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-menu {
    padding: 0px 0 0px 30px;
  }
}

.sidebar-menu nav ul li {
  padding-bottom: 33px;
  position: relative;
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .sidebar-menu nav ul li {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .sidebar-menu nav ul li {
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-menu nav ul li {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-menu nav ul li {
    padding-bottom: 12px;
  }
}

.sidebar-menu nav ul li:last-child {
  padding-bottom: 0;
}

.sidebar-menu nav ul li ul.submenu {
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
  display: block;
  left: 100%;
  padding: 20px 0px 22px;
  position: absolute;
  top: 0;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 190px;
  z-index: 999;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-menu nav ul li ul.submenu {
    overflow-y: auto;
    max-height: 250px;
  }
}

.sidebar-menu nav ul li ul.submenu li {
  display: block;
  padding: 0 20px;
  margin-left: 0px;
}

.sidebar-menu nav ul li ul.submenu li a {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: capitalize;
  padding-top: 0px;
}

.sidebar-menu nav ul li ul.submenu li a:hover {
  color: #013F7A;
}

.sidebar-menu nav ul li ul.submenu li a::before {
  background: #013F7A none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 7px;
  left: 15px;
  opacity: 0;
  position: absolute;
  top: 13px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 7px;
  z-index: 999;
}

.sidebar-menu nav ul li ul.submenu li:hover a::before {
  opacity: 1;
}

.sidebar-menu nav ul li ul.submenu li:hover a {
  padding-left: 12px;
}

.sidebar-menu nav ul li:hover>ul.submenu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
}

.sidebar-menu nav ul li ul.mega-menu {
  background-color: #fff;
  display: block;
  left: 100%;
  padding: 40px 40px 0px 40px;
  position: absolute;
  text-align: left;
  top: 0;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  visibility: hidden;
  width: 700px;
  z-index: 999;
  -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1366px) and (max-width: 1600px) {
  .sidebar-menu nav ul li ul.mega-menu {
    top: -50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .sidebar-menu nav ul li ul.mega-menu {
    top: -50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-menu nav ul li ul.mega-menu {
    top: -80px;
  }
}

.sidebar-menu nav ul li ul.mega-menu>li {
  display: inline-block;
  float: left;
  margin-left: 0;
  padding: 0;
  width: 33.33%;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li.mega-menu-title {
  float: inherit;
  width: 100%;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li.mega-menu-title a {
  color: #242424;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li.mega-menu-title a::before {
  display: none;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li.mega-menu-title:hover a {
  padding-left: 0px;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li {
  display: block;
  float: inherit;
  padding: 0px;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li a {
  color: #333;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-transform: capitalize;
  padding-top: 0px;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li a:hover {
  color: #013F7A;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li a::before {
  background: #013F7A none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 7px;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 13px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 7px;
  z-index: 999;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li.mega-menu-img:hover a {
  padding-left: 0px;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li.mega-menu-img a::before {
  display: none;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li:hover a::before {
  opacity: 1;
}

.sidebar-menu nav ul li ul.mega-menu>li ul li:hover a {
  padding-left: 12px;
}

.sidebar-menu nav ul li:hover>ul.mega-menu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  visibility: visible;
}

.sidebar-menu nav ul li a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .8px;
  text-transform: capitalize;
  display: block;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .sidebar-menu nav ul li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-menu nav ul li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-menu nav ul li a {
    font-size: 16px;
  }
}

.sidebar-menu nav ul li a span {
  float: right;
  padding-right: 20px;
}

.sidebar-menu nav ul li:hover a {
  color: #013F7A;
}

.header-hm4-none {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header-hm4-none {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hm4-none {
    display: block;
  }
}

/* ============================================= wrapper | Header padding  | container ========================================== */

.wrapper {
  margin: 20px 20px;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    margin: 0px 0px;
  }
}

.transparent-bar {
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.header-padding-3 .container-fluid {
  padding: 0 80px;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .header-padding-3 .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-padding-3 .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-padding-3 .container-fluid {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  .header-padding-3 .container-fluid {
    padding: 0 15px;
  }
}

/* product hm9 */

.hm9-section-padding .container-fluid {
  padding-right: 70px;
  padding-left: 70px;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .hm9-section-padding .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hm9-section-padding .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hm9-section-padding .container-fluid {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .hm9-section-padding .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hm9-section-padding .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.hm9-section-padding .custom-row-4 {
  margin-right: -10px;
  margin-left: -10px;
}

@media only screen and (max-width: 767px) {
  .hm9-section-padding .custom-row-4 {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hm9-section-padding .custom-row-4 {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.hm9-section-padding div[class^="custom2-"] {
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 767px) {
  .hm9-section-padding div[class^="custom2-"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .hm9-section-padding div[class^="custom2-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.custom-row-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.custom2-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  min-height: 1px;
}

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .custom2-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .custom2-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom2-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .custom2-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .custom2-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.blog-wrap .blog-img {
  position: relative;
  overflow: hidden;
}

.blog-wrap .blog-img img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.blog-wrap .blog-img span {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  line-height: 1;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 2px 10px 5px;
}

.blog-wrap .blog-img span.pink {
  background-color: #013F7A;
}

.blog-wrap .blog-img span.purple {
  background-color: #013F7A;
}

.blog-wrap .blog-content-wrap {
  text-align: center;
}

.blog-wrap .blog-content-wrap .blog-content {
  display: inline-block;
  background-color: #fff;
  padding: 14px 44px;
  margin: -64px 0 0;
  z-index: 99;
  position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-wrap .blog-content-wrap .blog-content {
    padding: 14px 30px;
    margin: -50px 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .blog-wrap .blog-content-wrap .blog-content {
    padding: 14px 30px;
    margin: -50px 0 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-wrap .blog-content-wrap .blog-content {
    padding: 14px 15px;
  }
}

.blog-wrap .blog-content-wrap .blog-content h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 5px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .blog-wrap .blog-content-wrap .blog-content h3 {
    font-size: 18px;
    line-height: 27px;
  }
}

.blog-wrap .blog-content-wrap .blog-content span {
  color: #666;
  font-style: italic;
}

.blog-wrap .blog-content-wrap .blog-content span a {
  color: #666;
}

.blog-wrap .blog-content-wrap .blog-content span a:hover {
  color: #013F7A;
}

.blog-wrap:hover .blog-img img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* blog page */

.blog-wrap-2 {
  -webkit-box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
  box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
}

.blog-wrap-2 .blog-img-2 {
  overflow: hidden;
  position: relative;
}

.blog-wrap-2 .blog-img-2 a img {
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}


.blog-wrap-2 .blog-content-2 {
  padding: 25px 30px 34px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-wrap-2 .blog-content-2 {
    padding: 25px 20px 34px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrap-2 .blog-content-2 {
    padding: 25px 20px 34px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-wrap-2 .blog-content-2 {
    padding: 20px 15px 29px;
  }
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 ul li {
  color: #333;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  list-style: outside none none;
  margin: 0 17px 0 0;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 ul li::before {
  background-color: #555;
  content: "";
  height: 2px;
  position: absolute;
  right: -13px;
  top: 6px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 5px;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 ul li:last-child::before {
  display: none;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 ul li a {
  color: #555;
}

.blog-wrap-2 .blog-content-2 .blog-meta-2 ul li a:hover {
  color: #013F7A;
}

.blog-wrap-2 .blog-content-2 h4 {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0 20px;
  color: #333;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-wrap-2 .blog-content-2 h4 {
    font-size: 19px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrap-2 .blog-content-2 h4 {
    font-size: 19px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-wrap-2 .blog-content-2 h4 {
    font-size: 17px;
    margin: 10px 0 12px;
  }
}

.blog-wrap-2 .blog-content-2 h4 a {
  color: #333;
}

.blog-wrap-2 .blog-content-2 h4 a:hover {
  color: #113A84;
}

.blog-wrap-2 .blog-content-2 p {
  margin: 0;
  color: #666;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 22px 0 0;
}

@media only screen and (max-width: 767px) {
  .blog-wrap-2 .blog-content-2 .blog-share-comment {
    margin: 14px 0 0;
  }
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-btn-2 a {
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-top: 4px;
  text-transform: capitalize;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-btn-2 a:hover {
  color: rgb(35, 112, 255);
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share span {
  color: #333;
  display: inline-block;
  float: left;
  font-size: 15px;
  margin-right: 12px;
  margin-top: 3px;
  text-transform: capitalize;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social {
  display: inline-block;
  float: left;
}

@media only screen and (max-width: 767px) {
  .blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social {
    margin-top: 4px;
  }
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li {
  display: inline-block;
  margin-right: 5px;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li:last-child {
  margin-right: 0;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a {
  border-radius: 50px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 30px;
}

@media only screen and (max-width: 767px) {
  .blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a {
    font-size: 12px;
    height: 25px;
    line-height: 23px;
    width: 25px;
  }
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a.facebook {
  background-color: #3b5998;
  border: 1px solid #3b5998;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a.facebook:hover {
  background-color: transparent;
  color: #3b5998;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a.twitter {
  background-color: #55acee;
  border: 1px solid #55acee;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a.twitter:hover {
  background-color: transparent;
  color: #55acee;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a.instagram {
  background-color: #013F7A;
  border: 1px solid #013F7A;
}

.blog-wrap-2 .blog-content-2 .blog-share-comment .blog-share .share-social ul li a.instagram:hover {
  background-color: transparent;
  color: #013F7A;
}

.blog-wrap-2:hover .blog-img-2 img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.nav-style-4.owl-carousel .owl-nav div {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 35px;
  width: 35px;
  line-height: 35px;
  background-color: #1EBED7;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-style-4.owl-carousel .owl-nav div {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .nav-style-4.owl-carousel .owl-nav div {
    font-size: 30px;
  }
}

.nav-style-4.owl-carousel .owl-nav div:hover {
  color: #1EBED7;
  background-color: rgb(255, 255, 255);
}

.nav-style-4.owl-carousel .owl-nav div.owl-next {
  left: auto;
  right: 0px;
}

.blog-wrap-2:hover .nav-style-4.owl-carousel .owl-nav div {
  opacity: 1;
  visibility: visible;
}

/*------ Breadcrumb --------*/

.breadcrumb-content ul li {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin-right: 18px;
  text-transform: uppercase;
  position: relative;
}

.breadcrumb-content ul li::before {
  position: absolute;
  width: 18px;
  height: 1px;
  background-color: #ffffff;
  content: "";
  right: -21px;
  top: 12px;
  z-index: 99;
  -webkit-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  transform: rotate(115deg);
}

.breadcrumb-content ul li:last-child::before {
  display: none;
}

.breadcrumb-content ul li a {
  color: #ffffff;
}

.breadcrumb-content ul li a:hover {
  color: #008135;
}

/*----  Sidebar  ------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-style.mr-30 {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-style {
    margin-top: 30px;
  }
  .sidebar-style.mr-30 {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar-style {
    margin-top: 30px;
  }
  .sidebar-style.mr-30 {
    margin-right: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .sidebar-style.ml-30 {
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-style {
    margin-top: 30px;
  }
  .sidebar-style.ml-30 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .sidebar-style {
    margin-top: 30px;
  }
  .sidebar-style.ml-30 {
    margin-left: 0;
  }
}

.single-sidebar-blog {
  box-shadow: 0px 0.2px rgb(4, 73, 119);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 20px;
  padding: 0 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-sidebar-blog:last-child {
  border-bottom: none;
}

.single-sidebar-blog .sidebar-blog-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  margin: 0 20px 0 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-sidebar-blog .sidebar-blog-img {
    margin: 0 8px 0 0;
  }
}

.single-sidebar-blog .sidebar-blog-img img {
  width: 100%;
}

.single-sidebar-blog .sidebar-blog-content span {
  color: #333;
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
}

.single-sidebar-blog .sidebar-blog-content h4 {
  font-size: 14px;
  margin: 5px 0 0;
}

/* ============================================= pagination style  ========================================== */

@media only screen and (max-width: 767px) {
  .pro-pagination-style.mt-30 {
    margin-top: 10px;
  }
}

.pro-pagination-style ul li {
  display: inline-block;
  margin: 0 4px;
}

.pro-pagination-style ul li a {
  display: inline-block;
  width: 43px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  font-size: 16px;
  border-radius: 100%;
  color: #113A84;
  -webkit-box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
}

.pro-pagination-style ul li a:hover {
  background-color: #113A84;
  color: rgb(255, 255, 255);
}

.pro-pagination-style ul li a.active {
  background-color: #113A84;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pro-pagination-style ul li a.active:hover {
  background-color: rgb(255, 255, 255);
  color: #113A84
}

.pro-pagination-style ul li a.prev, .pro-pagination-style ul li a.next {
  background-color: #f6f6f6;
  color: #113A84;
  font-size: 17px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pro-pagination-style ul li a.prev:hover, .pro-pagination-style ul li a.next:hover {
  background-color: #113A84;
  color: #fff;
}

/*------ 23. Blog Details Page  -------*/

.blog-details-top .blog-details-img {
  position: relative;
}

.blog-details-top .blog-details-img img {
  width: 100%;
}

.blog-details-top .blog-details-content {
  margin-top: 30px;
}

.blog-details-top .blog-details-content .blog-meta-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-details-top .blog-details-content .blog-meta-2 ul li {
  color: #333;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  list-style: outside none none;
  margin: 0 17px 0 0;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
}

.blog-details-top .blog-details-content .blog-meta-2 ul li::before {
  background-color: #555;
  content: "";
  height: 2px;
  position: absolute;
  right: -13px;
  top: 6px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 5px;
}

.blog-details-top .blog-details-content .blog-meta-2 ul li:last-child::before {
  display: none;
}

.blog-details-top .blog-details-content .blog-meta-2 ul li a {
  color: #333;
}

.blog-details-top .blog-details-content .blog-meta-2 ul li a:hover {
  color: #013F7A;
}

.blog-details-top .blog-details-content h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-details-top .blog-details-content h3 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-details-top .blog-details-content h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-details-top .blog-details-content h3 {
    font-size: 18px;
  }
}

.blog-details-top .blog-details-content p {
  margin: 0;
  line-height: 26px;
}

.blog-details-top .blog-details-content blockquote {
  color: #333;
  font-size: 18px;
  margin: 25px 0 26px;
  line-height: 34px;
  font-weight: 500;
  font-style: italic;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-details-top .blog-details-content blockquote {
    font-size: 17px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-details-top .blog-details-content blockquote {
    font-size: 17px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-details-top .blog-details-content blockquote {
    font-size: 16px;
    line-height: 30px;
  }
}

.dec-img-wrapper {
  margin-top: 50px;
}

@media only screen and (max-width: 767px) {
  .dec-img-wrapper {
    margin-top: 30px;
  }
}

.dec-img-wrapper .dec-img img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .dec-img-wrapper .dec-img.mb-50 {
    margin-bottom: 30px;
  }
}

.tag-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px 0 30px;
}

@media only screen and (max-width: 767px) {
  .tag-share {
    display: block;
    margin: 20px 0 25px;
  }
}

@media only screen and (max-width: 767px) {
  .tag-share .dec-tag {
    margin-bottom: 10px;
  }
}

.tag-share .dec-tag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag-share .dec-tag ul li {
  margin-right: 10px;
  position: relative;
}

.tag-share .dec-tag ul li a {
  text-transform: capitalize;
  font-size: 15px;
}

.tag-share .blog-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tag-share .blog-share span {
  font-size: 15px;
  text-transform: capitalize;
}

.tag-share .blog-share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag-share .blog-share ul li {
  margin-left: 10px;
}

.tag-share .blog-share ul li a {
  font-size: 16px;
}

.next-previous-post {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  padding: 18px 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.next-previous-post a {
  font-size: 15px;
  text-transform: capitalize;
}