/*-----------------------------------------------------------------------------------

-------------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Template default CSS
    2. Header style
    3. Slider style
    4. Support style
    5. Section title style
    6. Product style
    7. Blog style
    8. Footer style
    9. Banner style
    10. Suscribe style
    11. About style
    12. instagram style
    13. Testimonial style
    14. Brand logo style
    15. Timer style
    16. Breadcrumb style
    17. Sidebar style
    18. Shop page
    19. Product details page
    20. Cart page
    21. Checkout page
    22. contact Page
    23. Blog Details Page
    24. login register Page
    25. My account Page
    
-----------------------------------------------------------------------------------*/
/*----------------------------------------*/
/*  1. Template default CSS
/*----------------------------------------*/
/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
/*-- Common Style --*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p:last-child {
  margin-bottom: 0; }

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #000; }

a,
button,
img,
input,
span {
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }

*:focus {
  outline: none !important; }

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button,
input[type="submit"] {
  cursor: pointer; }

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0; }

  h1{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
  }

.custom-col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
  min-height: 1px; }
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
    .custom-col-5 {
      padding-right: 15px;
      padding-left: 15px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .custom-col-5 {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
      max-width: 33.333%; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-col-5 {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media only screen and (max-width: 767px) {
    .custom-col-5 {
      padding-right: 15px;
      padding-left: 15px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .custom-col-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }

.mobile-menu-area {
  display: none; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile-menu-area {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .mobile-menu-area {
      display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .mobile-menu-area {
      display: block; } }
  .mobile-menu-area.white-mobile-menu a.meanmenu-reveal {
    color: #fff;
    border: 1px solid #fff; }
    .mobile-menu-area.white-mobile-menu a.meanmenu-reveal span {
      background-color: #fff; }

.stick .mobile-menu-area.white-mobile-menu a.meanmenu-reveal {
  color: #333;
  border: 1px solid #333; }
  .stick .mobile-menu-area.white-mobile-menu a.meanmenu-reveal span {
    background-color: #333; }

.mean-container a.meanmenu-reveal {
  top: -30px; }

#mobile-menu-active {
  display: none; }

.mobile-menu .mean-nav ul.menu-overflow {
  height: 215px;
  margin-top: 10;
  overflow-y: auto; }

.mobile-menu.mean-container .mean-nav ul {
  margin: 14px 0 0; }

/*-- 
    Scroll Up 
-----------------------------------------*/
#scrollUp {
  width: 50px;
  height: 50px;
  background-color: #113A84;
  color: #fff;
  right: 20px;
  bottom: 60px;
  text-align: center;
  overflow: hidden;
  border-radius: 50px;
  z-index: 9811 !important; }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      width: 40px;
      height: 40px; } }
  #scrollUp i {
    display: block;
    line-height: 50px;
    font-size: 22px; }
    @media only screen and (max-width: 767px) {
      #scrollUp i {
        line-height: 40px;
        font-size: 16px; } }
  #scrollUp:hover i {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.height-100 {
  height: 100vh; }


/*----- 2. Header style ----*/
.header-area {
  position: relative; }

.sticky-bar.stick {
  -webkit-animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
  background-color: #fff;
  border-bottom: 0 solid #4a90e2;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s; }

.header-padding-1 .container-fluid {
  padding: 0 80px; }
  @media only screen and (min-width: 1200px) and (max-width: 1365px) {
    .header-padding-1 .container-fluid {
      padding: 0 15px; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-padding-1 .container-fluid {
      padding: 0 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-padding-1 .container-fluid {
      padding: 0 40px; } }
  @media only screen and (max-width: 767px) {
    .header-padding-1 .container-fluid {
      padding: 0 15px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-res-padding {
    padding: 20px 0 15px; } }

@media only screen and (max-width: 767px) {
  .header-res-padding {
    padding: 20px 0 15px; } }

.logo {
  margin-top: 32px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo {
      margin-top: 0px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      margin-top: 0px; } }
  .logo.logo-hm5 {
    margin-top: 41px; }
    .logo.logo-hm5 a.sticky-block {
      display: none; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .logo.logo-hm5 {
        margin-top: 0px;
        text-align: left !important; } }
    @media only screen and (max-width: 767px) {
      .logo.logo-hm5 {
        margin-top: 0px;
        text-align: left !important; } }

.stick .logo-hm5 a.sticky-block {
  display: block; }

.stick .logo-hm5 a.sticky-none {
  display: none; }

.main-menu nav ul {
  display: block;
  text-align: center;
  margin-top: -5px; }
  .main-menu nav ul li {
    display: inline-block;
    padding: 0 15px;
    position: relative; }
    .main-menu nav ul li ul.submenu {
      background: #fff none repeat scroll 0 0;
      -webkit-box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
      display: block;
      left: 0;
      padding: 20px 0px 22px;
      position: absolute;
      top: 100%;
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transform-origin: center top 0;
      -ms-transform-origin: center top 0;
      transform-origin: center top 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      visibility: hidden;
      width: 190px;
      z-index: 999; }
      .main-menu nav ul li ul.submenu li {
        display: block;
        padding: 0 20px;
        margin-left: 0px; }
        .main-menu nav ul li ul.submenu li a {
          color: #333;
          display: block;
          font-size: 13px;
          font-weight: 400;
          line-height: 32px;
          text-align: left;
          text-transform: capitalize;
          padding-top: 0px; }
          .main-menu nav ul li ul.submenu li a:hover {
            color: #013F7A; }
          .main-menu nav ul li ul.submenu li a::before {
            background: #013F7A none repeat scroll 0 0;
            border-radius: 50%;
            content: "";
            height: 7px;
            left: 15px;
            opacity: 0;
            position: absolute;
            top: 13px;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            width: 7px;
            z-index: 999; }
        .main-menu nav ul li ul.submenu li:hover a::before {
          opacity: 1; }
        .main-menu nav ul li ul.submenu li:hover a {
          padding-left: 12px; }
    .main-menu nav ul li ul.mega-menu {
      background-color: #fff;
      display: block;
      left: 0;
      padding: 40px 40px 0px 40px;
      position: absolute;
      text-align: left;
      top: 100%;
      -webkit-transform: rotateX(90deg);
      transform: rotateX(90deg);
      -webkit-transform-origin: center top 0;
      -ms-transform-origin: center top 0;
      transform-origin: center top 0;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s;
      visibility: hidden;
      width: 700px;
      z-index: 999;
      -webkit-box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3); }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .main-menu nav ul li ul.mega-menu {
          left: -75px; } }
      .main-menu nav ul li ul.mega-menu > li {
        display: inline-block;
        float: left;
        margin-left: 0;
        padding: 0;
        width: 33.33%; }
        .main-menu nav ul li ul.mega-menu > li ul li.mega-menu-title {
          float: inherit;
          width: 100%; }
          .main-menu nav ul li ul.mega-menu > li ul li.mega-menu-title a {
            color: #242424;
            margin: 0 0 10px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500; }
            .main-menu nav ul li ul.mega-menu > li ul li.mega-menu-title a::before {
              display: none; }
          .main-menu nav ul li ul.mega-menu > li ul li.mega-menu-title:hover a {
            padding-left: 0px; }
        .main-menu nav ul li ul.mega-menu > li ul li {
          display: block;
          float: inherit;
          padding: 0px; }
          .main-menu nav ul li ul.mega-menu > li ul li a {
            color: #333;
            display: block;
            font-size: 13px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            text-transform: capitalize;
            padding-top: 0px; }
            .main-menu nav ul li ul.mega-menu > li ul li a:hover {
              color: #013F7A; }
            .main-menu nav ul li ul.mega-menu > li ul li a::before {
              background: #013F7A none repeat scroll 0 0;
              border-radius: 50%;
              content: "";
              height: 7px;
              left: 0px;
              opacity: 0;
              position: absolute;
              top: 13px;
              -webkit-transition: all 0.3s ease-in-out 0s;
              -o-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
              width: 7px;
              z-index: 999; }
          .main-menu nav ul li ul.mega-menu > li ul li.mega-menu-img:hover a {
            padding-left: 0px; }
          .main-menu nav ul li ul.mega-menu > li ul li.mega-menu-img a::before {
            display: none; }
          .main-menu nav ul li ul.mega-menu > li ul li:hover a::before {
            opacity: 1; }
          .main-menu nav ul li ul.mega-menu > li ul li:hover a {
            padding-left: 12px; }
    .main-menu nav ul li:hover > ul.submenu {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      visibility: visible; }
    .main-menu nav ul li:hover > ul.mega-menu {
      -webkit-transform: rotateX(0deg);
      transform: rotateX(0deg);
      visibility: visible; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .main-menu nav ul li {
        padding: 0 7px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
      .main-menu nav ul li {
        padding: 0 10px; } }
    .main-menu nav ul li > a {
      font-size: 15px;
      color: #555252;
      font-weight: 500;
      letter-spacing: .8px;
      display: inline-block;
      line-height: 94px; }
      .main-menu nav ul li > a i {
        font-size: 15px;
        margin-left: 1px;
        position: relative;
        top: 0px; }
    .main-menu nav ul li:hover a {
      color: #013F7A; }

.main-menu.menu-white nav ul {
  text-align: left; }
  .main-menu.menu-white nav ul li {
    padding: 0 30px 0 0; }
    @media only screen and (min-width: 1366px) and (max-width: 1600px) {
      .main-menu.menu-white nav ul li {
        padding: 0 22px 0 0; } }
    @media only screen and (min-width: 1200px) and (max-width: 1365px) {
      .main-menu.menu-white nav ul li {
        padding: 0 14px 0 0; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .main-menu.menu-white nav ul li {
        padding: 0 14px 0 0; } }
    .main-menu.menu-white nav ul li > a {
      color: #ffffff;
      line-height: 112px; }