.movie_card {
    position: relative;
    display: inline-block;
    width: 36%;
    height: 300px;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    font-size: 12px !important;
    /* float: right;  */
    margin-top: 5%;
    text-align: left;

    margin-left: 10%;
    /* border: 0.5px solid black;
*/


}


/*estilos tarjetas*/
/* .movie_card {
position: relative;
display: block !important;
width: 688px;
margin-top: 2% !important;
margin-right: 1.5% !important;
height: 350px;
margin: 100px auto;
overflow: hidden;
border-radius: 10px;
transition: all 0.4s;
float: right;
} */


.movie_card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: all 0.4s;
}

.movie_card .info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;

}

.movie_card .info_section .movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.movie_card .info_section .movie_header h1 {
    color: #fff;
    font-weight: 400;
    font-size: 27px;
}

.movie_card .info_section .movie_header h4 {
    color: #9ac7fa;
    font-weight: 100;
}

.movie_card .info_section .movie_header .minutes {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.13);
}

.movie_card .info_section .movie_header .type {
    display: inline-block;
    color: #cee4fd;
    font-style: oblique;
    margin-left: 15% !important;
    margin-top: 0% !important;
    /* width: 10%; */
    height: 5px;
    font-size: 15px;

}

.info {
    margin-left: 35% !important;
    margin-top: 1% !important;
    font-size: 16px !important;
    padding: 0% !important;
    font-style: oblique;
    height: 30px;
}

#fecha {
    font-style: oblique !important;
    margin-top: 10.5% !important;
    font-size: 16px !important;
    height: 10px;
    margin-left: 35% !important;
}

.movie_card .info_section .movie_header .locandina {
    position: relative;
    float: left;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
    margin-top: 3% !important;
    height: 10px;

}

.locandinas {
    position: relative;
    float: left;
    text-align: center;
    font-size: 25px;
    margin-top: 20% !important;
    margin-left: -80px;
    font-weight: bolder !important;
    font-style: oblique;

}

.movie_card .info_section .movie_desc {
    padding: 20px;
    /* margin-top: 13% !important;
    margin-left: 5%; */
    height: 50%;
}

.movie_card .info_section .movie_desc .text {
    color: #cfd6e1;
    font-style: oblique;
    font-size: 12px;

}

.movie_descmovie_desc,
.text {
    font-size: 12px !important;
    margin-top: 10% !important;
    /* margin-top: 2% !important; */
}

.movie_card .info_section .movie_social {
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}

.movie_card .info_section .movie_social ul {
    list-style: none;
    padding: 0;
}

.movie_card .info_section .movie_social ul li {
    display: inline-block;
    color: rgba(255, 255, 255, 0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}

.movie_card .info_section .movie_social ul li:hover {
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.8);
}

.movie_card .info_section .movie_social ul li i {
    font-size: 19px;
    cursor: pointer;
}

.movie_card .blur_back {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    right: 0;
    background-size: cover;
    border-radius: 11px;
}

@media screen and (min-width: 768px) {
    .movie_header {
        width: 60%;
    }

    .movie_desc {
        width: 50%;
        margin-bottom: 50% !important;
    }

    .info_section {
        background: linear-gradient(to right, rgb(0, 45, 87) 40%, transparent 80%);
    }

    .blur_back {
        width: 80%;
        background-position: -100% 10% !important;
    }

    h3 {
        font-size: 40px;
    }


}

@media screen and (max-width: 768px) {
    .movie_card {
        width: 95%;
        margin: 70px auto;
        min-height: 350px;
        height: auto;
    }

    .blur_back {
        width: 100%;
        background-position: 50% 50% !important;
    }

    .movie_header {
        width: 100%;
        margin-top: 85px;
    }

    .movie_desc {
        width: 100%;
        margin-bottom: 5% !important;
    }

    .info_section {
        background: linear-gradient(to top, rgb(0, 45, 87), transparent 100%);
        display: inline-grid;
    }

    h3 {
        font-size: 40px;
    }
}

@media screen and (min-width: 360px) {
    h3 {
        font-size: 35px !important;
    }

    .locandinas {
        font-size: 30px !important;
    }

    .button {
        width: 30% !important;
        height: 25px !important;
        font-size: 8px !important;
        text-align: center !important;
        margin-left: 130px !important;
        margin-top: 6% !important;
    }

}

@media screen and (min-width: 320px) {
    h3 {
        font-size: 45px !important;
    }

    .locandinas {
        font-size: 30px !important;
        margin-top: 20%;
    }

    #calendario {
        font-size: 40px !important;
    }

    .button {
        width: 30% !important;
        height: 25px !important;
        font-size: 8px !important;
        text-align: center !important;
        margin-left: 130px !important;
        margin-top: 6% !important;
    }



}

.bright_back {
    /* background: url("https://fundacionjborja.org/wp-content/gallery/cds-cierre-enero-2019/CDS-CIERRE-2.jpg"); */
    width: 100% !important;
    /* margin-left: 5% !important; */
}