// @import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Roboto|Roboto+Condensed');
@import url(https://fonts.googleapis.com/css?family=Montserrat);


// $primary: #024380;
$tundora: #4B4848;
$snappy:  cubic-bezier(0.694,  0.048, 0.335, 1.000);
::selection {
  background: $primary;

  color: white;
  text-shadow: none;
}

::-webkit-selection{
  background: $primary;
  color: white;
  text-shadow: none;
}

  .box-btnNewPublic{

    .button-two{
      display: inline-block !important;
    
      text-align: center;
      cursor: pointer;
      font-size:24px;
      // margin-bottom:0 ;

      // vertical-align: middle;

      border-radius: 4px;
      background-color:$primary;
      border: none;
      padding: 20px;
      transition: all 0.5s;
      color: #fff;
      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        &:after {
          content: '»';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
      }
    }

    .button-two:hover span {
      padding-right: 25px;
      &:after {
        opacity: 1;
        right: 0;
      }
    }
  }  

.SearchPublic{
  display: inline-block !important;

  .field-container {
    float: right !important;
    position: relative;
    padding: 0;
    margin: auto auto;
    border: 0;
    width: 330px;
    height: 45px;
    // float: right;
    .field {
      border: 0;
      width: 400px;
      height: 100%;
      padding: 10px 20px;
      background: white;
      border-radius: 3px;
      box-shadow: 0px 8px 15px rgba($tundora, 0.1);
      box-shadow: 0px 12px 15px rgba($tundora, 0.1);
      transition: all 0.4s ease;
      &:focus {
        outline: none;
        box-shadow: 0px 9px 20px rgba($tundora, 0.3);
        + .icons-container {
          .icon-close {
            opacity: 1;
            transform: translateX(0);
          }
          .icon-search {
            opacity: 0;
            transform: translateX(200%);
          }
        }
      }
    }
    .icons-container {
      position: absolute;
      top: 11px;
      right: -25px;
      width: 35px;
      height: 35px;
      overflow: hidden;
      .icon-search {
          position: relative;
          top: 5px;
          left: 8px;
          width: 50%;
          height: 50%;
          opacity: 1;
          border-radius: 50%;
          border: 3px solid mix($primary, white, 35%);
          transition: opacity 0.25s ease, transform 0.43s $snappy;
          &:after {
            content: "";
            position: absolute;
            bottom: -9px;
            right: -2px;
            width: 4px;
            border-radius: 3px;
            transform: rotate(-45deg);
            height: 10px;
            background-color: mix($primary, white, 35%);
          }
        }
      .icon-close {
          position: absolute;
          top: 2px;
          left: 2px;
          width: 75%;
          height: 75%;
          opacity: 0;
          cursor: pointer;
          transform: translateX(-200%);
          border-radius: 50%;
          transition: opacity 0.25s ease, transform 0.43s $snappy;
          &:before {
            content: "";
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border: 2px solid transparent;
            border-top-color: $primary;
            border-left-color: $primary;
            border-bottom-color: $primary;
            transition: opacity 0.2s ease;
          }
          .x-up {
            position: relative;
            width: 100%;
            height: 50%;
            &:before {
              content: "";
              position: absolute;
              bottom: 2px;
              left: 3px;
              width: 50%;
              height: 2px;
              background-color: $primary;
              transform: rotate(45deg);
            }
            &:after {
              content: "";
              position: absolute;
              bottom: 2px;
              right: 0px;
              width: 50%;
              height: 2px;
              background-color: $primary;
              transform: rotate(-45deg);
            }
          }
          .x-down {
            position: relative;
            width: 100%;
            height: 50%;
            &:before {
              content: "";
              position: absolute;
              top: 5px;
              left: 4px;
              width: 50%;
              height: 2px;
              background-color: $primary;
              transform: rotate(-45deg);
            }
            &:after {
              content: "";
              position: absolute;
              top: 5px;
              right: 1px;
              width: 50%;
              height: 2px;
              background-color: $primary;
              transform: rotate(45deg);
            }
          }
          .is-type & {
            &:before {
              opacity: 1;
              animation: spin 0.85s infinite;
            }
            .x-up {
              &:before, &:after {
                animation: color-1 0.85s infinite;
              }
              &:after {
                animation-delay: 0.3s;
              }
            }
            .x-down {
              &:before, &:after {
                animation: color-1 0.85s infinite;
              }
              &:before {
                animation-delay: 0.2s;
              }
              &:after {
                animation-delay: 0.1s;
              }
            }
          }
        }
    }
  }
}



/*estilo de la vista de la tabla de administrador de las publicaciones */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    // margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold

  }
  

  
  table tr {
    background-color: #fff;
    border: 1px solid #e1e5e9;
    border-radius: 5px;
  }
  #Table_Public .tableID{
    width:10%
  }
  #Table_Public .tableAutor{
    width:10%;
    // background: #494949
  }

  
  table thead tr:first-child {
    border: 1px solid #024380;
  }
  
  table th {
    padding: 1.625em 0;
    text-align: center;
    color: #494949;
  }

  table th {
    text-transform: uppercase;
    background: #024380;
    color: #FFF;
  }
  table tbody tr td.editar,td.imgTable{
    vertical-align: middle;
  }
  
  table tbody tr td .btn-invoice {
    background: #024380;
    color: #FFF;
    border-radius: 5px;
    z-index:0;
  }
  
  tbody tr:nth-child(even) {
    background-color: #fff;
  }
 
 
  tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  
  @media screen and (max-width: 600px) {
    .SearchPublic{
   
     margin-left: -15px;
      .field-container {
        margin-left: -15px;
        width: 90% !important;
        .field{
          margin-left: -65px;
          max-width: 280px!important;
        }
      }
    }
    table {
      border: 0;
      margin-right: 5px;
      margin-left: 5px;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      position: absolute;
      width: 1px;
      padding: 0;
     
    }
    table tr {
  
      display: block;
      margin-bottom: .625em;   
      border: #afb0b1 solid 1px
    }
    #Table_Public .tableID{
      width:100%
    }
    #Table_Public .tableAutor{
      width:100%
    }
    table #tr-tbody{
      box-shadow: 0 10px 6px -6px #777;
      box-shadow: 0 13px 6px -6px  #777;
      margin-bottom: 1.5em
    }

   
    table td {
      border-bottom: 1px solid #cfd1d3;
      // border-bottom: 1px solid #000000;
      display: block;
      text-align: right;
      color: #9da9b9;
      color: $primary;
     
    }
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      // color: #4b4949;
      color: rgb(34, 34, 34);
    }
    table td:last-child {
      border-bottom: 0;
    
    }
 
  
  }
