$primary: #024380;
$secondary: #2c3e50;
$success: #228b22;
$error: #e74c3c;
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
// @import '_navBar.scss';
@import '_modal.scss';
@import '_formPublic.scss';
body, html {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Roboto Condensed', sans-serif;
  text-align: center;

}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1 {
  
  font-size: 2rem;
  font-weight: 300;
  margin: 60px 0 30px 0;
  color: rgb(0, 0, 0);
}

