body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #3b3b3b; */
    background: #f1f1f1;
    font-family: sans-serif;
}
canvas {
    position: fixed;
    /* height: 100vh; */
}
.container {
    background: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10vh 10px;
}
/* .box { */
    /* width: 25% !important; */
    /* min-width: 300px !important; */
    /* background: #2b3fa665;
    
    margin: 0 auto;
    position: relative; */
    /* z-index: 1; */
/* } */
.card {
    position: relative;
    min-width: 100% !important;
    /* min-width: 300px !important; */
    min-height: 280px;
    background: #fff;
    margin: 100px auto;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: 3;
}
.card::before,
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    z-index: -1;
}
.card:hover:before {
    transform: rotate(20deg);
}
.card:hover:after {
    transform: rotate(10deg);
}
.card .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: .5s;
    z-index: 1;
}
.card:hover .imgBx {
    bottom: 80px;
}
.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .details {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}
.card .details h2 a {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-weight: 520;
    font-size: 20px;
    color: #3d3d3d;
    text-transform: uppercase;
    text-decoration: none;
}
.card .details h2  span {
    font-weight: 400;
    font-size: 16px;
    color: #777;
    display: block;
    margin-top: 0px;
}

@media (max-width: 1200px) {
    /* body {
        background: rgb(15, 172, 75);
    } */
    .box {
        width: 96% !important;
        min-height: 650px;
        top: 75px !important;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        grid-gap: 60px 10px;
        margin: 0 auto;
    }
    .card {
        max-width: 60% !important;
        height: 280px;
    }
}
@media (min-width: 1020px) {
    /* body {
        background: rgb(172, 60, 15);
    } */
    .box {
        /* width: 96% !important; */
        min-height: 700px; 
        top: 75px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        grid-gap: 10px 10px;
        margin: 0 auto;
    }
    .card {
        max-width: 60% !important;
        height: 280px;
    }
}
@media (max-width: 1020px) {
    /* body {
        background: rgb(15, 149, 172);
    } */
    .box {
        width: 96% !important;
        min-height: 700px;
        top: 75px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
        grid-gap: 10px 10px;
        margin: 0 auto;
    }
    .card {
        max-width: 60% !important;
        height: 280px;
    }
}
@media screen and (max-width:768px) {
    /* body {
        background: rgb(172, 15, 15);
    } */
    .card {
        min-width: 96% !important;
        height: 280px;
    }
    .box {
        width: 100% !important;
        height: 1400px;
        top: 75px;
        /* bottom: 75px; */
        /* min-width: 300px !important; */
        /* background: #1d61a05b; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 2fr));
        grid-gap: 10px 40px;
        margin: 0 auto;
    }
 
}