body {
    background: #ffffff;
}

header {
    /* height: 700px;*/
    height: 100%;
}

.hrs {
    margin: 0 auto;
    background-color: #024380;
}

/*  Seccion de banners para las paginas web */

/* banner de index */
.banner {
    height: 800px;
    /* background-image: url(../img/Imagen11.jpg); */
}

/* banner de quienes somos */
.banner2 {
    height: 600px;
    /* background-image: url(../img/banner_2.jpg); */
}

/* banner de contactanos */
.banner3 {
    height: 600px;
    margin-bottom: 60px;
    /* background-image: url(../img/Imagen9.jpg); */
}

/**/
.baners {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.h1s {
    color: #024380 !important; /*rgba(0, 100, 0, 0.9) VERDE*/  /*#024380 AZUL P.WEB*/
}

.botns {
    border: none;
    color: #024380;
    background-color: transparent!important;
}

.botns:hover {
    color: #024380;
}

/* fin de seccion de banner */

/*  fondo negro transparente de banner */
.fondo1 {
    width: 100%;
    height: 100%;
    background: rgba(98, 98, 98, 0.53);
}

/*  ancho del logo del menu */

.log-b {
    background-color: black;
}

/* coloca la frase del banner */
.blockquote {
    right: 20%;
    bottom: 20%;
    border-left: 3px solid white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* .cite{
    font-size: 30px !important;
} */

/*SECCION DE CONTACTOS*/
.inpu {
    color: black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: none !important;
    border-bottom: 1px solid #024380;
}

/*ESTILOS DE TARJETAS DE NOTICIAS*/
.borderbotm {
    border-top: 3px solid #024380;
}

/*  animacion de imagen (transicion lenta) */
img {
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -webkit-transition: all .9s ease;
}

.contenedorImg2 {
    overflow: hidden;
}

/* Al pasar el mouse sobre el contenedor hace zoom img */
.contenedorImgP:hover img {
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
}

.box-shadow {
/*    background-color: white;*/
    box-shadow: 7px 7px 15px 0px  #0c0c0c42;
}

/* franja anaranjada de izquierda de texto */
.franja {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 4px solid #024380;
}

/*  clase para login */


img {
    width: 100%;
}

/*ESTILOS  DE  SLIDER  AUTOMATICO */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    width: 100%;
    padding: 50px;
    margin-bottom: -20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#carusel {
    padding: 0;
    margin: 0;
}

.g-map {
    border-top: 2px solid #024380;
    border-bottom: 2px solid #024380;
    border-left: none;
}

.box-mivi {
    padding: 50px;
}
.box-quienes{
    padding: 100px; 
    margin-top: -100px;
}

/* clase para pie de pagina */


.tooltip {
    display: inline;
    position: relative;
  }
  .tooltip:hover:after {
    bottom: 26px;
    content: attr(title); /* este es el texto que será mostrado */
    left: 20%;
    position: absolute;
    z-index: 98;
    /* el formato gráfico */
    background: rgba(255,255,255, 0.2); /* el color de fondo */
    border-radius: 5px;
    color: #FFF; /* el color del texto */
    font-family: Georgia;
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 150px;
  }
  .tooltip:hover:before {
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    /* el triángulo inferior */
    border: solid;
    border-color: rgba(255,255,255, 0.2) transparent;
    border-width: 6px 6px 0 6px;
  }



/* ADAPTACION DE TEXTO EN BANNER  */
@media screen and (max-width:600px){
    .box-quienes{
        padding: 20px !important; 
        margin: 20px !important;
        width: 90%;
    }
    .box-mivi{
        padding: 10px !important;
    }
   
    #cite-contacto{
        font-size: 40px !important;
    }
    
}

/* CAJAS CON INFORMACION DE REQUISITOS  */
@media screen and (max-width:1000px) {
    .box-requisitos {
        padding: 20px !important;
        margin: 20px !important;
    }

    .box-tod-requisitos {
        margin: 0 !important;
        padding: 0 !important;
    }
}

/* AJUSTE DE TAMAÑO DE LOS BANNERS */
@media screen and (max-width: 550px) {
    .banner3,.banner2 {
        height: 400px !important;
    }
    .blockquote {
        bottom: 10%;
    }
    .cite{
        font-size: 20px !important;
    }
    
}

