/* .navbar{
    position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020;
    }
  } */

/* Color de letras del menu  */
.navbar-light .navbar-nav .nav-link {
    /* color: rgba(0,0,0,0.5); */
    /* color: white; */
    font-size: 19px;
    color: #024380;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  hover al menu */
link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    padding-left: 10px;
    /*border-radius: 20px;*/
    border-radius: 10px !important;
    background: rgba(233, 231, 231, 0.9);
    color: #024380 !important;
}

.bg-menu {
    /* background:  rgba(0, 100, 0, 0.9); */
    background: #ffffff;
}

.active2 a {
    color: #024380 !important;
    border-bottom: 2px solid #024380;
}

#b-sesion {
    padding-left: 10px;
    /* margin-left: 70px; */
    padding-right: 10px;
    transition: .4s !important;
    border-radius: 10px !important;
    color: #024380 !important;
    border: 1px solid #024380;
    box-shadow: 7px 7px 12px 0px #0c0c0c42;
    background: rgba(235, 235, 235, 0.63) !important;
}

#b-sesion:hover {
    color: white !important;
    transition: .4s !important;
    background: #024380 !important;
    /*border-color: #07790c !important; 992px, 655px*/
}

.logocds {
    width: 130px;
}

.logo2 {
    width: 90px;
}
/* estilo para pie de pagina */
.piePagina {
    background: rgb(58, 56, 56);
}

.menu-fixed {
	position:fixed;
	/* z-index:1000; */
	top:0;
	/* max-width:1000px; */
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

@media screen and (max-width:991px) {
    #b-sesion {
        width: 150px;
        margin-top: 20px;
        padding: 5px !important;
        margin-left: 0 !important;
        border-radius: 10px !important;
    }

    .active2 a {
        border: none;
        color: #024380 !important;
    }
    .active2{
        border-left: 3px solid #024380;
        padding-left: 10px;
    }


}
@media screen and (max-width: 480px) {

    .logocds {
        width: 100px;
    }
    
    /* .logo2 {
        width: 70px;
    } */
}

@media screen and (max-width: 1000px) {

    .logocds {
        width: 120px;
    }
    
    .logo2 {
        width: 85px;
    }
}